---
---
<HTML>
<head>
<title>2003 NCAA Men's Basketball Tournament Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2003 NCAA Men's Basketball Tournament Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Frank</TD> <TD><FONT color=RED>-$12.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Ike</TD>   <TD><FONT color=GREEN>+$22.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mark D</TD><TD><FONT color=RED>-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mark H</TD><TD><FONT color=RED>-$24.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mike C</TD><TD><FONT color=GREEN>+$12.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mike S</TD><TD bgcolor="#D7FFD7"><FONT color=GREEN><b>+$24.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Paul</TD>  <TD><FONT color=GREEN>+$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Warren</TD><TD><FONT color=RED>-$10.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<P>

<IMG SRC=ncaa03.gif>

<P>


<H2>Players and Teams</H2>
<!-- Table -->
<TABLE BORDER=0>
<TR>
<TD WIDTH=50%>

<Table border WIDTH=100%>
<TR VALIGN="top">
<TD>Frank</TD>
<TD>
1 Arizona       <br>
4 Illinois      <br>
5 Miss. St.     <br>
8 Cincinnati    <br>
10 Arizona St.  <br>
11 Cent. Mich.  <br>
14 Colorado St. <br>
15 Sam Hou. St. </TD>
</TR>
<TR VALIGN="top">
<TD>Ike</TD>
<TD>
2 Kansas        <br>
4 Louisville    <br>
5 Wisconsin     <br>
7 Michigan St.  <br>
9 Gonzaga       <br>
12 Weber St.    <br>
14 Troy St.     <br>
15 E. Tenn. St. </TD>
</TR>
<TR VALIGN="top">
<TD>Mark D</TD>
<TD>
1 Oklahoma   <br>
4 Dayton     <br>
6 Missouri   <br>
7 Memphis    <br>
10 Colorado  <br>
12 Wis.-Mil. <br>
14 Holy Cross<br>
15 Wagner    </TD>
</TR>
<TR VALIGN="top">
<TD>Mark H</TD>
<TD>
2 Wake Forest    <br>
3 Xavier         <br>
6 Creighton      <br>
8 LSU            <br>
9 N.C. St.       <br>
11 UNC Wilmington<br>
13 Tulsa         <br>
16 Vermont       </TD>
</TR>
</TABLE>
</TD>

<TD WIDTH=50%>
<Table border WIDTH=100%>
<TR VALIGN="top">
<TD>Mike C</TD>
<TD>
1 Kentucky      <br>
3 Marquette     <br>
6 Oklahoma St.  <br>
7 St. Joseph's  <br>
9 Purdue        <br>
12 Butler       <br>
13 USD          <br>
16 S. Caro. St. </TD>
</TR>
<TR VALIGN="top">
<TD>Mike S</TD>
<TD>
2 Florida        <br>
3 Syracuse       <br>
5 Notre Dame     <br>
8 California     <br>
9 Utah           <br>
11 Penn.         <br>
13 W. Kentucky   <br>
16 UNC Asheville </TD>
</TR>
<TR VALIGN="top">
<TD>Paul</TD>
<TD>
1 Texas     <br>
4 Stanford  <br>
6 Maryland  <br>
8 Oregon    <br>
10 Auburn   <br>
12 BYU      <br>
14 Manhattan<br>
15 Utah St. </TD>
</TR>
<TR VALIGN="top">
<TD>Warren</TD>
<TD>
2 Pittsburgh  <br>
3 Duke        <br>
5 U. Conn     <br>
7 Indiana     <br>
10 Alabama    <br>
11 S. Illinois<br>
13 Austin Peay<br>
16 IUPUI      </TD>
</TR>
</Table>

</TD>
</TR>
</TABLE>
<P><BR>


<H2>Teams and Players</H2>
<!-- Table -->
<table border=0><tr>
<td width=45%>
<table border>
<tr><td>Alabama 10</td><td>Warren</td></tr>
<tr><td>Arizona 1</td><td>Frank</td></tr>
<tr><td>Arizona St. 10</td><td>Frank</td></tr>
<tr><td>Auburn 10</td><td>Paul</td></tr>
<tr><td>Austin Peay 13</td><td>Warren</td></tr>
<tr><td>BYU 12</td><td>Paul</td></tr>
<tr><td>Butler 12</td><td>Mike C</td></tr>
<tr><td>California 8</td><td>Mike S</td></tr>
<tr><td>Cent. Mich. 11</td><td>Frank</td></tr>
<tr><td>Cincinnati 8</td><td>Frank</td></tr>
<tr><td>Colorado 10</td><td>Mark D</td></tr>
<tr><td>Colorado St. 14</td><td>Frank</td></tr>
<tr><td>Creighton 6</td><td>Mark H</td></tr>
<tr><td>Dayton 4</td><td>Mark D</td></tr>
<tr><td>Duke 3</td><td>Warren</td></tr>
<tr><td>E. Tenn. St. 15</td><td>Ike</td></tr>
<tr><td>Florida 2</td><td>Mike S</td></tr>
<tr><td>Gonzaga 9</td><td>Ike</td></tr>
<tr><td>Holy Cross 14</td><td>Mark D</td></tr>
<tr><td>IUPUI 16</td><td>Warren</td></tr>
<tr><td>Illinois 4</td><td>Frank</td></tr>
<tr><td>Indiana 7</td><td>Warren</td></tr>
<tr><td>Kansas 2</td><td>Ike</td></tr>
<tr><td>Kentucky 1</td><td>Mike C</td></tr>
<tr><td>LSU 8</td><td>Mark H</td></tr>
<tr><td>Louisville 4</td><td>Ike</td></tr>
<tr><td>Manhattan 14</td><td>Paul</td></tr>
<tr><td>Marquette 3</td><td>Mike C</td></tr>
<tr><td>Maryland 6</td><td>Paul</td></tr>
<tr><td>Memphis 7</td><td>Mark D</td></tr>
<tr><td>Michigan St. 7</td><td>Ike</td></tr>
<tr><td>Miss. St. 5</td><td>Frank</td></tr>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<tr><td>Missouri 6</td><td>Mark D</td></tr>
<tr><td>N.C. St. 9</td><td>Mark H</td></tr>
<tr><td>Notre Dame 5</td><td>Mike S</td></tr>
<tr><td>Oklahoma 1</td><td>Mark D</td></tr>
<tr><td>Oklahoma St. 6</td><td>Mike C</td></tr>
<tr><td>Oregon 8</td><td>Paul</td></tr>
<tr><td>Penn. 11</td><td>Mike S</td></tr>
<tr><td>Pittsburgh 2</td><td>Warren</td></tr>
<tr><td>Purdue 9</td><td>Mike C</td></tr>
<tr><td>S. Caro. St. 16</td><td>Mike C</td></tr>
<tr><td>S. Illinois 11</td><td>Warren</td></tr>
<tr><td>Sam Hou. St. 15</td><td>Frank</td></tr>
<tr><td>St. Joseph's 7</td><td>Mike C</td></tr>
<tr><td>Stanford 4</td><td>Paul</td></tr>
<tr><td>Syracuse 3</td><td>Mike S</td></tr>
<tr><td>Texas 1</td><td>Paul</td></tr>
<tr><td>Troy St. 14</td><td>Ike</td></tr>
<tr><td>Tulsa 13</td><td>Mark H</td></tr>
<tr><td>U. Conn 5</td><td>Warren</td></tr>
<tr><td>UNC Asheville 16</td><td>Mike S</td></tr>
<tr><td>UNC&nbsp;Wilmington&nbsp;11</td><td>Mark&nbsp;H</td></tr>
<tr><td>USD 13</td><td>Mike C</td></tr>
<tr><td>Utah 9</td><td>Mike S</td></tr>
<tr><td>Utah St. 15</td><td>Paul</td></tr>
<tr><td>Vermont 16</td><td>Mark H</td></tr>
<tr><td>W. Kentucky 13</td><td>Mike S</td></tr>
<tr><td>Wagner 15</td><td>Mark D</td></tr>
<tr><td>Wake Forest 2</td><td>Mark H</td></tr>
<tr><td>Weber St. 12</td><td>Ike</td></tr>
<tr><td>Wis.-Mil. 12</td><td>Mark D</td></tr>
<tr><td>Wisconsin 5</td><td>Ike</td></tr>
<tr><td>Xavier 3</td><td>Mark H</td></tr>
</table>
</td>
</tr></table>
</CENTER>

<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

