---
---
<HTML>
<head>
<title>2017 NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.norm           {font: 9px arial}
   td.blank          {font: 1px arial; width:82px}
   td.center         {font: 1px arial; width:100px}
   td.finals         {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px; text-align: center; font: 18px arial}
   td.hline          {font: 1px arial; height=1px; width=82px; background-color: rgb(0,0,0)}
   td.vline-left-m   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-m  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-left-b   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-right-b  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-left-s   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-s  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   tr.leader         {font-weight:bold; background-color: #D7FFD7}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<br>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2017 NCAA Men's Basketball Tournament Entries/Results</H1>
<P>
$60.00 entry fee
<BR><BR>
($4.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM>             <th>NAME(S)</TH>                    <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                                <TH>NET</TH></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Bill & Jeff</TD>     <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$12.00</FONT></TD>   <TD><FONT COLOR="RED">-$48.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Chris & Jerry</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$32.00</FONT></TD>   <TD><FONT COLOR="RED">-$28.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Dana & Dave D</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$56.00</FONT></TD>   <TD><FONT COLOR="RED">-$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Frank</TD>           <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$92.00</FONT></TD>   <TD><FONT COLOR="GREEN">+$32.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Glen & Mark D</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$80.00</FONT></TD>   <TD><FONT COLOR="GREEN">+$20.00</FONT></TD></TR>
<TR ALIGN=RIGHT CLASS=leader>  <TD ALIGN=LEFT>Mark H & Paul</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$100.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$40.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mary</TD>            <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$52.00</FONT></TD>   <TD><FONT COLOR="RED">-$8.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mike S</TD>          <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">$56.00</FONT></TD>   <TD><FONT COLOR="RED">-$4.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<br style="page-break-after:always;"><br>
<table cellpadding="0" cellspacing="0" border=0>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>1 MIKE S - Villanova +$4</font></td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Kansas - GLEN & MARK D 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>16 DANA & DAVE D - Mount St Mary's</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>UC Davis - CHRIS & JERRY 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 MIKE S - Villanova</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Kansas - GLEN & MARK D 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>8 MARY - Wisconsin +$8</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Michigan St - MIKE S 9</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>8 MARY - Wisconsin +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Miami Florida - CHRIS & JERRY 8</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>9 BILL & JEFF - Virginia Tech</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Michigan St - MIKE S 9</font></td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>8 MARY - Wisconsin</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Kansas - GLEN & MARK D 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 GLEN & MARK D - Florida +$12</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Purdue - MARY 4</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>5 FRANK - Virginia +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Iowa St - CHRIS & JERRY 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>12 BILL & JEFF - UNC Wilmington</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Nevada - MARY 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>5 FRANK - Virginia</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Iowa St - CHRIS & JERRY 5</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>4 GLEN & MARK D - Florida +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Purdue - MARY 4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>4 GLEN & MARK D - Florida +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Purdue - MARY 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>13 MARK H & PAUL - E Tennessee St</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Vermont - DANA & DAVE D 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 GLEN & MARK D - Florida</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Kansas - GLEN & MARK D 1</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>7 DANA & DAVE D - S Carolina +$16</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$16 Oregon - MIKE S 3</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>6 BILL & JEFF - SMU</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Creighton - MIKE S 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>11 MIKE S - USC +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Rhode Island - MARK H & PAUL 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>11 MIKE S - USC</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Rhode Island - MARK H & PAUL 11</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>3 FRANK - Baylor +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Oregon - MIKE S 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>3 FRANK - Baylor +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Oregon - MIKE S 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>14 MARY - New Mexico St</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Iona - CHRIS & JERRY 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 FRANK - Baylor</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Oregon - MIKE S 3</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2>FRANK<br>1 Gonzaga</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>7 DANA & DAVE D - S Carolina +$12</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Michigan - FRANK 7</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>7 DANA & DAVE D - S Carolina +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Michigan - FRANK 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>10 MARY - Marquette</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Oklahoma St - FRANK 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>7 DANA & DAVE D - S Carolina +$8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Michigan - FRANK 7</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>2 DANA & DAVE D - Duke</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Louisville - BILL & JEFF 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>2 DANA & DAVE D - Duke +$4</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Louisville - BILL & JEFF 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>15 GLEN & MARK D - Troy</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Jacksonville St - MARK H & PAUL 15</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>7 DANA & DAVE D - S Carolina</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Oregon - MIKE S 3</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Gonzaga +$20</font></td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$20 N Carolina - MARK H & PAUL 1</font></td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>1 FRANK - Gonzaga +$4</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 N Carolina - MARK H & PAUL 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>16 FRANK - South Dakota St</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Texas Southern - MIKE S 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>1 FRANK - Gonzaga +$8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 N Carolina - MARK H & PAUL 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2><font color=green>+$24 MARK H & PAUL<br>1 North Carolina</font></td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>8 MIKE S - Northwestern</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Arkansas - GLEN & MARK D 8</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>8 MIKE S - Northwestern +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Arkansas - GLEN & MARK D 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>9 DANA & DAVE D - Vanderbilt</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Seton Hall - GLEN & MARK D 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Gonzaga +$12</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 N Carolina - MARK H & PAUL 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>






   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 MARK H & PAUL - West Virginia</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Butler - CHRIS & JERRY 4 </td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>5 GLEN & MARK D - Notre Dame +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Minnesota - DANA & DAVE D 5</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>12 CHRIS & JERRY - Princeton</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Middle Tennessee - FRANK 12</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>5 GLEN & MARK D - Notre Dame</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Middle Tennessee - FRANK 12</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 MARK H & PAUL - West Virginia +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Butler - CHRIS & JERRY 4 </font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>4 MARK H & PAUL - West Virginia +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Butler - CHRIS & JERRY 4 </font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>13 GLEN & MARK D - Bucknell</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Winthrop - MIKE S 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Gonzaga +$16</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$16 N Carolina - MARK H & PAUL 1</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>11 GLEN & MARK D - Xavier</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Kentucky - MARY 2 </td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>6 MARK H & PAUL - Maryland</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Cincinnati - MARY 6</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>11 GLEN & MARK D - Xavier +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Kansas St - DANA & DAVE D 11</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>11 GLEN & MARK D - Xavier +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Cincinnati - MARY 6</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 BILL & JEFF - Florida St</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 UCLA - DANA & DAVE D 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>3 BILL & JEFF - Florida St +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 UCLA - DANA & DAVE D 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>14 BILL & JEFF - Florida Gulf Coast</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Kent St - FRANK 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>11 GLEN & MARK D - Xavier +$12</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>UCLA - DANA & DAVE D 3</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 CHRIS & JERRY - Arizona</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Kentucky - MARY 2 </font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>7 BILL & JEFF - Saint Mary's +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Dayton - MARK H & PAUL 7</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>10 MARK H & PAUL - VCU</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Wichita St - CHRIS & JERRY 10</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>7 BILL & JEFF - Saint Mary's</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Wichita St - CHRIS & JERRY 10</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 CHRIS & JERRY - Arizona +$8</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Kentucky - MARY 2 </font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>2 CHRIS & JERRY - Arizona +$4</font></td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Kentucky - MARY 2 </font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>15 MARY - North Dakota</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Northern Kentucky - BILL & JEFF 15</td>
   </tr>

</table>

<br style="page-break-after:always;"><br>

<H2>Players and Teams</H2>
<TABLE BORDER=0>
<TR>
<TD WIDTH=45%>

<Table border WIDTH=100%>

<TR valign="top">
<TD>BILL & JEFF</TD><TD>
2 Louisville<br>
3 Florida St<br>
6 SMU<br>
7 Saint Mary's<br>
9 Virginia Tech<br>
12 UNC Wilmington<br>
14 Florida Gulf Coast<br>
15 Northern Kentucky<br>
</TD></TR>

<TR valign="top">
<TD>CHRIS & JERRY</TD><TD>
2 Arizona<br>
4 Butler<br>
5 Iowa St<br>
8 Miami, Florida<br>
10 Wichita St<br>
12 Princeton<br>
14 Iona<br>
16 UC Davis<br>
</TD></TR>

<TR valign="top">
<TD>DANA & DAVE D</TD><TD>
2 Duke<br>
3 UCLA<br>
5 Minnesota<br>
7 South Carolina<br>
9 Vanderbilt<br>
11 Kansas St<br>
13 Vermont<br>
16 Mount Saint Mary's<br>
</TD></TR>

<TR valign="top">
<TD>FRANK</TD><TD>
1 Gonzaga<br>
3 Baylor<br>
5 Virginia<br>
7 Michigan<br>
10 Oklahoma St<br>
12 Middle Tennessee<br>
14 Kent St<br>
16 South Dakota St<br>
</TD></TR>

</TABLE>
</TD>

<td width=10%>&nbsp;</td>

<TD WIDTH=45%>
<Table border WIDTH=100%>

<TR valign="top">
<TD>GLEN & MARK D</TD><TD>
1 Kansas<br>
4 Florida<br>
5 Notre Dame<br>
8 Arkansas<br>
9 Seton Hall<br>
11 Xavier<br>
13 Bucknell<br>
15 Troy<br>
</TD></TR>

<TR valign="top">
<TD>MARK H & PAUL</TD><TD>
1 North Carolina<br>
4 West Virginia<br>
6 Maryland<br>
7 Dayton<br>
10 VCU<br>
11 Rhode Island<br>
13 East Tennessee St<br>
15 Jacksonville St<br>
</TD></TR>

<TR valign="top">
<TD>MARY</TD><TD>
2 Kentucky<br>
4 Purdue<br>
6 Cincinnati<br>
8 Wisconsin<br>
10 Marquette<br>
12 Nevada<br>
14 New Mexico St<br>
15 North Dakota<br>
</TD></TR>

<TR valign="top">
<TD>MIKE S</TD><TD>
1 Villanova<br>
3 Oregon<br>
6 Creighton<br>
8 Northwestern<br>
9 Michigan St<br>
11 USC<br>
13 Winthrop<br>
16 Texas Southern<br>
</TD></TR>

</Table>

</TD>
</TR>
</TABLE>
<br style="page-break-after:always;"><br>


<H2>Teams and Players</H2>
<table border=0><tr>
<td width=45%>
<table border WIDTH=100%>
<TR><TD>Arizona 2</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Arkansas 8</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>Baylor 3</TD><TD>FRANK</TD></TR>
<TR><TD>Bucknell 13</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>Butler 4</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Cincinnati 6</TD><TD>MARY</TD></TR>
<TR><TD>Creighton 6</TD><TD>MIKE S</TD></TR>
<TR><TD>Dayton 7</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Duke 2</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>East Tennessee St 13</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Florida 4</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>Florida Gulf Coast 14</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Florida St 3</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Gonzaga 1</TD><TD>FRANK</TD></TR>
<TR><TD>Iona 14</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Iowa St 5</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Jacksonville St 15</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Kansas 1</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>Kansas St 11</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>Kent St 14</TD><TD>FRANK</TD></TR>
<TR><TD>Kentucky 2</TD><TD>MARY</TD></TR>
<TR><TD>Louisville 2</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Marquette 10</TD><TD>MARY</TD></TR>
<TR><TD>Maryland 6</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Miami, Florida 8</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Michigan 7</TD><TD>FRANK</TD></TR>
<TR><TD>Michigan St 9</TD><TD>MIKE S</TD></TR>
<TR><TD>Middle Tennessee 12</TD><TD>FRANK</TD></TR>
<TR><TD>Minnesota 5</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>Mount Saint Mary's 16</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>Nevada 12</TD><TD>MARY</TD></TR>
<TR><TD>New Mexico St 14</TD><TD>MARY</TD></TR>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border WIDTH=100%>
<TR><TD>North Carolina 1</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>North Dakota 15</TD><TD>MARY</TD></TR>
<TR><TD>Northern Kentucky 15</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Northwestern 8</TD><TD>MIKE S</TD></TR>
<TR><TD>Notre Dame 5</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>Oklahoma St 10</TD><TD>FRANK</TD></TR>
<TR><TD>Oregon 3</TD><TD>MIKE S</TD></TR>
<TR><TD>Princeton 12</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Purdue 4</TD><TD>MARY</TD></TR>
<TR><TD>Rhode Island 11</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>SMU 6</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Saint Mary's 7</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>Seton Hall 9</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>South Carolina 7</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>South Dakota St 16</TD><TD>FRANK</TD></TR>
<TR><TD>Texas Southern 16</TD><TD>MIKE S</TD></TR>
<TR><TD>Troy 15</TD><TD>GLEN & MARK D</TD></TR>
<TR><TD>UC Davis 16</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>UCLA 3</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>UNC Wilmington 12</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>USC 11</TD><TD>MIKE S</TD></TR>
<TR><TD>VCU 10</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Vanderbilt 9</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>Vermont 13</TD><TD>DANA & DAVE D</TD></TR>
<TR><TD>Villanova 1</TD><TD>MIKE S</TD></TR>
<TR><TD>Virginia 5</TD><TD>FRANK</TD></TR>
<TR><TD>Virginia Tech 9</TD><TD>BILL & JEFF</TD></TR>
<TR><TD>West Virginia 4</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Wichita St 10</TD><TD>CHRIS & JERRY</TD></TR>
<TR><TD>Winthrop 13</TD><TD>MIKE S</TD></TR>
<TR><TD>Wisconsin 8</TD><TD>MARY</TD></TR>
<TR><TD>Xavier 11</TD><TD>GLEN & MARK D</TD></TR>
</table>
</td>
</tr></table>

</CENTER>


<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

