---
---
<HTML>
<head>
<title>2011 NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.norm           {font: 9px arial}
   td.blank          {font: 1px arial; width:82px}
   td.center         {font: 1px arial; width:100px}
   td.finals         {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px; text-align: center; font: 22px arial}
   td.hline          {font: 1px arial; height=1px; width=82px; background-color: rgb(0,0,0)}
   td.vline-left-m   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-m  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-left-b   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-right-b  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-left-s   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-s  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   tr.leader         {font-weight:bold; background-color: #D7FFD7}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2011 NCAA Men's Basketball Tournament Entries/Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM>             <th>NAME</TH>             <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                                <TH>NET</TH></TR>
<TR ALIGN=RIGHT CLASS=leader>  <TD ALIGN=LEFT>Bill</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$66.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$36.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Dave D</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$10.00</FONT></TD>  <TD><FONT COLOR="RED">-$20.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Frank</TD> <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$32.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$2.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mark D</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$56.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$26.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mark H</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$20.00</FONT></TD>  <TD><FONT COLOR="RED">-$10.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mary</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$14.00</FONT></TD>  <TD><FONT COLOR="RED">-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Paul</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$36.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$6.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Warren</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$6.00</FONT></TD>   <TD><FONT COLOR="RED">-$24.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<br style="page-break-after:always;"><br>
<table cellpadding="0" cellspacing="0" border=0>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>1 FRANK - Ohio St. +$2</font></td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Kansas - MARK H 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>16 MARK H - Texas San Antonio</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Boston University - MARK D 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Ohio St. +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Kansas - MARK H 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>8 PAUL - George Mason</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Illinois - MARK H 9</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>8 PAUL - George Mason +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>UNLV - MARK H 8</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>9 FRANK - Villanova</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Illinois - MARK H 9</font></td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 FRANK - Ohio St.</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Kansas - MARK H 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 PAUL - Kentucky +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Richmond - FRANK 12</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>5 DAVE D - West Virginia +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Vanderbilt - MARY 5</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>12 DAVE D - Clemson</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Richmond - FRANK 12</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>5 DAVE D - West Virginia</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Richmond - FRANK 12</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>4 PAUL - Kentucky +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Morehead St. - DAVE D 13</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>4 PAUL - Kentucky +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Louisville - MARY 4</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>13 FRANK - Princeton</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Morehead St. - DAVE D 13</font></td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 PAUL - Kentucky +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Kansas - MARK H 1</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 BILL - North Carolina</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 VCU - BILL 11</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>6 WARREN - Xavier</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Georgetown - MARK H 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>11 MARK D - Marquette +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 VCU - BILL 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>11 MARK D - Marquette +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 VCU - BILL 11</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>3 WARREN - Syracuse</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Purdue - BILL 3</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>3 WARREN - Syracuse +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Purdue - BILL 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>14 MARK H - Indiana St.</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>St. Peter's - MARK D 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>11 MARK D - Marquette</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 VCU - BILL 11</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2><font color=green>+$12 3 MARK D -<br>Connecticut</font></td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 BILL - North Carolina +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Florida St. - PAUL 10</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>7 WARREN - Washington +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Texas A&M - MARY 7</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>10 WARREN - Georgia</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Florida St. - PAUL 10</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>7 WARREN - Washington</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Florida St. - PAUL 10</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>2 BILL - North Carolina +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Notre Dame - DAVE D 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>2 BILL - North Carolina +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Notre Dame - DAVE D 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>15 DAVE D - Long Island</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Akron - PAUL 15</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 PAUL - Kentucky</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>VCU - BILL 11</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MARK D - Connecticut +$10</font></td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$10 Butler - BILL 8</font></td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>1 PAUL - Duke +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Pittsburgh - WARREN 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>16 WARREN - Hampton</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>NC-Asheville - FRANK 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>1 PAUL - Duke +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Pittsburgh - WARREN 1</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2>8 BILL -<br>Butler</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>8 DAVE D - Michigan</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Butler - BILL 8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>8 DAVE D - Michigan +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Butler - BILL 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>9 BILL - Tennessee</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Old Dominion - MARK D 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 PAUL - Duke</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Butler - BILL 8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>






   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>5 FRANK - Arizona +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Wisconsin - FRANK 4</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>5 FRANK - Arizona +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Kansas St. - BILL 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>12 MARK H - Memphis</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Utah St. - PAUL 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>5 FRANK - Arizona +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Kansas St. - BILL 5</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 DAVE D - Texas</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Wisconsin - FRANK 4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>4 DAVE D - Texas +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Wisconsin - FRANK 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>13 WARREN - Oakland</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Belmont - BILL 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>5 FRANK - Arizona</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Butler - BILL 8</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MARK D - Connecticut +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Florida - MARY 2</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>6 PAUL - Cincinnati +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>St. John's- MARK D 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>11 WARREN - Missouri</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Gonzaga - MARY 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>6 PAUL - Cincinnati</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Gonzaga - MARY 11</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MARK D - Connecticut +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 BYU - MARK H 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>3 MARK D - Connecticut +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 BYU - MARK H 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>14 PAUL - Bucknell</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Wofford - MARY 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MARK D - Connecticut +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>BYU - MARK H 3</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 MARK D - San Diego St.</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Florida - MARY 2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>7 FRANK - Temple +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 UCLA - MARK D 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>10 DAVE D - Penn St.</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Michigan St. - MARY 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>7 FRANK - Temple</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>UCLA - MARK D 7</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK D - San Diego St. +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Florida - MARY 2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>2 MARK D - San Diego St. +$2</font></td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Florida - MARY 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>15 MARY - Northern Colorado</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>UC Santa Barbara - BILL 15</td>
   </tr>

</table>

<br style="page-break-after:always;"><br>

<H2>Players and Teams</H2>
<TABLE BORDER=0>
<TR>
<TD WIDTH=45%>

<Table border WIDTH=100%>
<TR valign="top">
<TD>BILL<TD>
2 North Carolina<BR>
3 Purdue<BR>
5 Kansas St.<BR>
8 Butler<BR>
9 Tennessee<BR>
11 VCU<BR>
13 Belmont<BR>
15 UC Santa Barbara<BR>
</TD>
</TR>
<TR valign="top">
<TD>DAVE D<TD>
2 Notre Dame<BR>
4 Texas<BR>
5 West Virginia<BR>
8 Michigan<BR>
10 Penn St.<BR>
12 Clemson<BR>
13 Morehead St.<BR>
15 Long Island<BR>
</TD>
</TR>
<TR valign="top">
<TD>FRANK<TD>
1 Ohio St.<BR>
4 Wisconsin<BR>
5 Arizona<BR>
7 Temple<BR>
9 Villanova<BR>
12 Richmond<BR>
13 Princeton<BR>
16 NC-Asheville<BR>
</TD>
</TR>
<TR valign="top">
<TD>MARK D<TD>
2 San Diego St.<BR>
3 Connecticut<BR>
6 St. John's<BR>
7 UCLA<BR>
9 Old Dominion<BR>
11 Marquette<BR>
14 St. Peter's<BR>
16 Boston University<BR>
</TD>
</TR>
</TABLE>
</TD>

<td width=10%>&nbsp;</td>

<TD WIDTH=45%>
<Table border WIDTH=100%>
<TR valign="top">
<TD>MARK H<TD>
1 Kansas<BR>
3 BYU<BR>
6 Georgetown<BR>
8 UNLV<BR>
9 Illinois<BR>
12 Memphis<BR>
14 Indiana St.<BR>
16&nbsp;Texas&nbsp;San&nbsp;Antonio<BR>
</TD>
</TR>
<TR valign="top">
<TD>MARY<TD>
2 Florida<BR>
4 Louisville<BR>
5 Vanderbilt<BR>
7 Texas A&M<BR>
10 Michigan St.<BR>
11 Gonzaga<BR>
14 Wofford<BR>
15&nbsp;Northern&nbsp;Colorado<BR>
</TD>
</TR>
<TR valign="top">
<TD>PAUL<TD>
1 Duke<BR>
4 Kentucky<BR>
6 Cincinnati<BR>
8 George Mason<BR>
10 Florida St.<BR>
12 Utah St.<BR>
14 Bucknell<BR>
15 Akron<BR>
</TD>
</TR>
<TR valign="top">
<TD>WARREN<TD>
1 Pittsburgh<BR>
3 Syracuse<BR>
6 Xavier<BR>
7 Washington<BR>
10 Georgia<BR>
11 Missouri<BR>
13 Oakland<BR>
16 Hampton<BR>
</TD>
</TR>
</Table>

</TD>
</TR>
</TABLE>
<br style="page-break-after:always;"><br>


<H2>Teams and Players</H2>
<table border=0><tr>
<td width=45%>
<table border>
<TR><TD>Akron 15</TD><TD>PAUL</TD></TR>
<TR><TD>Arizona 5</TD><TD>FRANK</TD></TR>
<TR><TD>BYU 3</TD><TD>MARK H</TD></TR>
<TR><TD>Belmont 13</TD><TD>BILL</TD></TR>
<TR><TD>Boston University 16</TD><TD>MARK D</TD></TR>
<TR><TD>Bucknell 14</TD><TD>PAUL</TD></TR>
<TR><TD>Butler 8</TD><TD>BILL</TD></TR>
<TR><TD>Cincinnati 6</TD><TD>PAUL</TD></TR>
<TR><TD>Clemson 12</TD><TD>DAVE D</TD></TR>
<TR><TD>Connecticut 3</TD><TD>MARK D</TD></TR>
<TR><TD>Duke 1</TD><TD>PAUL</TD></TR>
<TR><TD>Florida 2</TD><TD>MARY</TD></TR>
<TR><TD>Florida St. 10</TD><TD>PAUL</TD></TR>
<TR><TD>George Mason 8</TD><TD>PAUL</TD></TR>
<TR><TD>Georgetown 6</TD><TD>MARK H</TD></TR>
<TR><TD>Georgia 10</TD><TD>WARREN</TD></TR>
<TR><TD>Gonzaga 11</TD><TD>MARY</TD></TR>
<TR><TD>Hampton 16</TD><TD>WARREN</TD></TR>
<TR><TD>Illinois 9</TD><TD>MARK H</TD></TR>
<TR><TD>Indiana St. 14</TD><TD>MARK H</TD></TR>
<TR><TD>Kansas 1</TD><TD>MARK H</TD></TR>
<TR><TD>Kansas St. 5</TD><TD>BILL</TD></TR>
<TR><TD>Kentucky 4</TD><TD>PAUL</TD></TR>
<TR><TD>Long Island 15</TD><TD>DAVE D</TD></TR>
<TR><TD>Louisville 4</TD><TD>MARY</TD></TR>
<TR><TD>Marquette 11</TD><TD>MARK D</TD></TR>
<TR><TD>Memphis 12</TD><TD>MARK H</TD></TR>
<TR><TD>Michigan 8</TD><TD>DAVE D</TD></TR>
<TR><TD>Michigan St. 10</TD><TD>MARY</TD></TR>
<TR><TD>Missouri 11</TD><TD>WARREN</TD></TR>
<TR><TD>Morehead St. 13</TD><TD>DAVE D</TD></TR>
<TR><TD>NC-Asheville 16</TD><TD>FRANK</TD></TR>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<TR><TD>North Carolina 2</TD><TD>BILL</TD></TR>
<TR><TD>Northern&nbsp;Colorado&nbsp;15</TD><TD>MARY</TD></TR>
<TR><TD>Notre Dame 2</TD><TD>DAVE D</TD></TR>
<TR><TD>Oakland 13</TD><TD>WARREN</TD></TR>
<TR><TD>Ohio St. 1</TD><TD>FRANK</TD></TR>
<TR><TD>Old Dominion 9</TD><TD>MARK D</TD></TR>
<TR><TD>Penn St. 10</TD><TD>DAVE D</TD></TR>
<TR><TD>Pittsburgh 1</TD><TD>WARREN</TD></TR>
<TR><TD>Princeton 13</TD><TD>FRANK</TD></TR>
<TR><TD>Purdue 3</TD><TD>BILL</TD></TR>
<TR><TD>Richmond 12</TD><TD>FRANK</TD></TR>
<TR><TD>San Diego St. 2</TD><TD>MARK D</TD></TR>
<TR><TD>St. John's 6</TD><TD>MARK D</TD></TR>
<TR><TD>St. Peter's 14</TD><TD>MARK D</TD></TR>
<TR><TD>Syracuse 3</TD><TD>WARREN</TD></TR>
<TR><TD>Temple 7</TD><TD>FRANK</TD></TR>
<TR><TD>Tennessee 9</TD><TD>BILL</TD></TR>
<TR><TD>Texas 4</TD><TD>DAVE D</TD></TR>
<TR><TD>Texas A&M 7</TD><TD>MARY</TD></TR>
<TR><TD>Texas&nbsp;San&nbsp;Antonio&nbsp;16</TD><TD>MARK H</TD></TR>
<TR><TD>UC Santa Barbara 15</TD><TD>BILL</TD></TR>
<TR><TD>UCLA 7</TD><TD>MARK D</TD></TR>
<TR><TD>UNLV 8</TD><TD>MARK H</TD></TR>
<TR><TD>Utah St. 12</TD><TD>PAUL</TD></TR>
<TR><TD>VCU 11</TD><TD>BILL</TD></TR>
<TR><TD>Vanderbilt 5</TD><TD>MARY</TD></TR>
<TR><TD>Villanova 9</TD><TD>FRANK</TD></TR>
<TR><TD>Washington 7</TD><TD>WARREN</TD></TR>
<TR><TD>West Virginia 5</TD><TD>DAVE D</TD></TR>
<TR><TD>Wisconsin 4</TD><TD>FRANK</TD></TR>
<TR><TD>Wofford 14</TD><TD>MARY</TD></TR>
<TR><TD>Xavier 6</TD><TD>WARREN</TD></TR>
</table>
</td>
</tr></table>

</CENTER>


<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

