---
---
<HTML>
<head>
<title>2006 NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.norm           {font: 9px arial}
   td.blank          {font: 1px arial; width:82px}
   td.center         {font: 1px arial; width:100px}
   td.finals         {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px; text-align: center; font: 22px arial}
   td.hline          {font: 1px arial; height=1px; width=82px; background-color: rgb(0,0,0)}
   td.vline-left-m   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-m  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-left-b   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-right-b  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-left-s   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-s  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2006 NCAA Men's Basketball Tournament Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM> <th>NAME</TH>             <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                              <TH>NET</TH></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Dave D</TD>     <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$6.00</FONT></TD> <TD><FONT COLOR="RED">-$24.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark D</TD>   <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$32.00</FONT></TD><TD><FONT COLOR="GREEN">+$2.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Frank</TD>    <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$16.00</FONT></TD><TD><FONT COLOR="RED">-$14.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Ike</TD>      <TD>$30.00</TD>    <TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$58.00</FONT></TD><TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$28.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark H</TD>   <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$20.00</FONT></TD><TD><FONT COLOR="RED">-$10.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Paul</TD>     <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$42.00</FONT></TD><TD><FONT COLOR="GREEN">+$12.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Warren</TD>   <TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$46.00</FONT></TD><TD><FONT COLOR="GREEN">+$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mike&nbsp;S/Norb</TD><TD>$30.00</TD>    <TD><FONT COLOR="GREEN">+$20.00</FONT></TD><TD><FONT COLOR="RED">-$10.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<P>

<table cellpadding="0" cellspacing="0" border=0>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>1 FRANK - Duke +$2</font></td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Connecticut - WARREN 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>16 IKE - Southern U.</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Albany - FRANK 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Duke +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Connecticut - WARREN 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>8 FRANK - G. Washington</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Kentucky - MIKE&nbsp;S/NORB 8</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>8 FRANK - G. Washington +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Kentucky - MIKE&nbsp;S/NORB 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>9 MIKE&nbsp;S/NORB - NC Wilmington</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>UAB - WARREN 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 FRANK - Duke</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Connecticut - WARREN 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 WARREN - LSU +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Washington - FRANK 5</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>5 IKE - Syracuse</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Washington - FRANK 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>12 MARK D - Texas A&M +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Utah St. - IKE 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>12 MARK D - Texas A&M</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Washington - FRANK 5</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>4 WARREN - LSU +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Illinois - MARK H 4</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>4 WARREN - LSU +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Illinois - MARK H 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>13 DAVE D - Iona</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Air Force - MIKE&nbsp;S/NORB 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 WARREN - LSU +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Connecticut - WARREN 1</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 MARK H - Texas</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 George Mason - PAUL 11</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>6 WARREN - West Virginia +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Michigan St. - MARK D 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>11 MIKE&nbsp;S/NORB - Southern Ill.</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 George Mason - PAUL 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>6 WARREN - West Virginia +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 George Mason - PAUL 11</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>14 MARK H - N'western St.</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>North Carolina - DAVE D 3</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>3 MARK D - Iowa</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 North Carolina - DAVE D 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>14 MARK H - N'western St. +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Murray St. - WARREN 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>6 WARREN - West Virginia</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 George Mason - PAUL 11</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2>2 MARK D -<br>UCLA</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK H - Texas +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Wichita St. - WARREN 7</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>7 DAVE D - California</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Wichita St. - WARREN 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>10 IKE - N.C. State +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Seton Hall - DAVE D 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>10 IKE - N.C. State</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Wichita St. - WARREN 7</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>2 MARK H - Texas +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Tennessee - IKE 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>2 MARK H - Texas +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Tennessee - IKE 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>15 MIKE&nbsp;S/NORB - Penn</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Winthrop - MARK D 15</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 WARREN - LSU</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>George Mason - PAUL 11</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK D - UCLA +$10</font></td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$10 Florida - IKE 3</font></td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>1 PAUL - Memphis +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Villanova - MIKE&nbsp;S/NORB 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>16 MARK H - Oral Roberts</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Monmouth - DAVE D 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>1 PAUL - Memphis +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 Villanova - MIKE&nbsp;S/NORB 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2><font color=green>+$12 3 IKE -<br>Florida</font></td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>9 MARK H - Bucknell</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Arizona - PAUL 8</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>8 MARK D - Arkansas</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Arizona - PAUL 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>9 MARK H - Bucknell +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Wisconsin - FRANK 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 PAUL - Memphis +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Villanova - MIKE&nbsp;S/NORB 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>






   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>13 IKE - Bradley</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Boston College - PAUL 4</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>5 MARK H - Pittsburgh +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Nevada - PAUL 5</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>12 DAVE D - Kent St.</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Montana - FRANK 12</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>5 MARK H - Pittsburgh</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Montana - FRANK 12</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>13 IKE - Bradley +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Boston College - PAUL 4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>4 FRANK - Kansas</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Boston College - PAUL 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>13 IKE - Bradley +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Pacific - MARK D 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 PAUL - Memphis</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Villanova - MIKE&nbsp;S/NORB 1</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK D - UCLA +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Florida - IKE 3</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>6 DAVE D - Indiana +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Oklahoma - MIKE&nbsp;S/NORB 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>11 MARK H - San Diego St.</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Wis.-Milwaukee - WARREN 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>6 DAVE D - Indiana</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Wis.-Milwaukee - WARREN 11</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MIKE&nbsp;S/NORB - Gonzaga +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Florida - IKE 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>3 MIKE&nbsp;S/NORB - Gonzaga +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Florida - IKE 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>14 FRANK - Xavier</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>South Ala. - PAUL 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 MIKE&nbsp;S/NORB - Gonzaga</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Florida - IKE 3</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK D - UCLA +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Georgetown - IKE 7</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>7 MARK H - Marquette</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Georgetown - IKE 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>10 PAUL - Alabama +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Northern Iowa - MARK D 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>10 PAUL - Alabama</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 Georgetown - IKE 7</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 MARK D - UCLA +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Ohio St. - DAVE D 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>2 MARK D - UCLA +$2</font></td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Ohio St. - DAVE D 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>15 PAUL - Belmont</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Davidson - WARREN 15</td>
   </tr>

</table>

<P>


<H2>Players and Teams</H2>
<!-- Table -->
<TABLE BORDER=0>
<TR>
<TD WIDTH=45%>

<Table border WIDTH=100%>
<tr valign="top">
<td>DAVE D</td>
<td>
2 Ohio St.<br>
3 North Carolina<br>
6 Indiana<br>
7 California<br>
10 Seton Hall<br>
12 Kent St.<br>
13 Iona<br>
16 Monmouth<br>
</td>
</tr>
<tr valign="top">
<td>FRANK</td>
<td>
1 Duke<br>
4 Kansas<br>
5 Washington<br>
8 G. Washington<br>
9 Wisconsin<br>
12 Montana<br>
14 Xavier<br>
16 Albany<br>
</td>
</tr>
<tr valign="top">
<td>IKE</td>
<td>
2 Tennessee<br>
3 Florida<br>
5 Syracuse<br>
7 Georgetown<br>
10 N.C. State<br>
12 Utah St.<br>
13 Bradley<br>
16 Southern U.<br>
</td>
</tr>
<tr valign="top">
<td>MARK D</td>
<td>
2 UCLA<br>
3 Iowa<br>
6 Michigan St.<br>
8 Arkansas<br>
10 Northern Iowa<br>
12 Texas A&M<br>
13 Pacific<br>
15 Winthrop<br>
</td>
</tr>
</TABLE>
</TD>

<td width=10%>&nbsp;</td>

<TD WIDTH=45%>
<Table border WIDTH=100%>
<tr valign="top">
<td>MARK H</td>
<td>
2 Texas<br>
4 Illinois<br>
5 Pittsburgh<br>
7 Marquette<br>
9 Bucknell<br>
11 San Diego St.<br>
14 N'western St.<br>
16 Oral Roberts<br>
</td>
</tr>
<tr valign="top">
<td>MIKE&nbsp;S/NORB</td>
<td>
1 Villanova<br>
3 Gonzaga<br>
6 Oklahoma<br>
8 Kentucky<br>
9&nbsp;NC&nbsp;Wilmington&nbsp;&nbsp;&nbsp;<br>
11 Southern Ill.<br>
13 Air Force<br>
15 Penn<br>
</td>
</tr>
<tr valign="top">
<td>PAUL</td>
<td>
1 Memphis<br>
4 Boston College<br>
5 Nevada<br>
8 Arizona<br>
10 Alabama<br>
11 George Mason<br>
14 South Ala.<br>
15 Belmont<br>
</td>
</tr>
<tr valign="top">
<td>WARREN</td>
<td>
1 Connecticut<br>
4 LSU<br>
6 West Virginia<br>
7 Wichita St.<br>
9 UAB<br>
11 Wis.-Milwaukee<br>
14 Murray St.<br>
15 Davidson<br>
</td>
</tr>
</Table>

</TD>
</TR>
</TABLE>
<P><BR>


<H2>Teams and Players</H2>
<!-- Table -->
<table border=0><tr>
<td width=45%>
<table border>
<tr><td>Air Force 13</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Alabama 10</td><td>PAUL</td></tr>
<tr><td>Albany 16</td><td>FRANK</td></tr>
<tr><td>Arizona 8</td><td>PAUL</td></tr>
<tr><td>Arkansas 8</td><td>MARK D</td></tr>
<tr><td>Belmont 15</td><td>PAUL</td></tr>
<tr><td>Boston College 4</td><td>PAUL</td></tr>
<tr><td>Bradley 13</td><td>IKE</td></tr>
<tr><td>Bucknell 9</td><td>MARK H</td></tr>
<tr><td>California 7</td><td>DAVE D</td></tr>
<tr><td>Connecticut 1</td><td>WARREN</td></tr>
<tr><td>Davidson 15</td><td>WARREN</td></tr>
<tr><td>Duke 1</td><td>FRANK</td></tr>
<tr><td>Florida 3</td><td>IKE</td></tr>
<tr><td>G. Washington 8</td><td>FRANK</td></tr>
<tr><td>George Mason 11</td><td>PAUL</td></tr>
<tr><td>Georgetown 7</td><td>IKE</td></tr>
<tr><td>Gonzaga 3</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Illinois 4</td><td>MARK H</td></tr>
<tr><td>Indiana 6</td><td>DAVE D</td></tr>
<tr><td>Iona 13</td><td>DAVE D</td></tr>
<tr><td>Iowa 3</td><td>MARK D</td></tr>
<tr><td>Kansas 4</td><td>FRANK</td></tr>
<tr><td>Kent St. 12</td><td>DAVE D</td></tr>
<tr><td>Kentucky 8</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>LSU 4</td><td>WARREN</td></tr>
<tr><td>Marquette 7</td><td>MARK H</td></tr>
<tr><td>Memphis 1</td><td>PAUL</td></tr>
<tr><td>Michigan St. 6</td><td>MARK D</td></tr>
<tr><td>Monmouth 16</td><td>DAVE D</td></tr>
<tr><td>Montana 12</td><td>FRANK</td></tr>
<tr><td>Murray St. 14</td><td>WARREN</td></tr>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<tr><td>N'western St. 14</td><td>MARK H</td></tr>
<tr><td>N.C. State 10</td><td>IKE</td></tr>
<tr><td>NC Wilmington 9</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Nevada 5</td><td>PAUL</td></tr>
<tr><td>North Carolina 3</td><td>DAVE D</td></tr>
<tr><td>Northern&nbsp;Iowa&nbsp;10&nbsp;&nbsp;&nbsp;</td><td>MARK D</td></tr>
<tr><td>Ohio St. 2</td><td>DAVE D</td></tr>
<tr><td>Oklahoma 6</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Oral Roberts 16</td><td>MARK H</td></tr>
<tr><td>Pacific 13</td><td>MARK D</td></tr>
<tr><td>Penn 15</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Pittsburgh 5</td><td>MARK H</td></tr>
<tr><td>San Diego St. 11</td><td>MARK H</td></tr>
<tr><td>Seton Hall 10</td><td>DAVE D</td></tr>
<tr><td>South Ala. 14</td><td>PAUL</td></tr>
<tr><td>Southern Ill. 11</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Southern U. 16</td><td>IKE</td></tr>
<tr><td>Syracuse 5</td><td>IKE</td></tr>
<tr><td>Tennessee 2</td><td>IKE</td></tr>
<tr><td>Texas 2</td><td>MARK H</td></tr>
<tr><td>Texas A&M 12</td><td>MARK D</td></tr>
<tr><td>UAB 9</td><td>WARREN</td></tr>
<tr><td>UCLA 2</td><td>MARK D</td></tr>
<tr><td>Utah St. 12</td><td>IKE</td></tr>
<tr><td>Villanova 1</td><td>MIKE&nbsp;S/NORB</td></tr>
<tr><td>Washington 5</td><td>FRANK</td></tr>
<tr><td>West Virginia 6</td><td>WARREN</td></tr>
<tr><td>Wichita St. 7</td><td>WARREN</td></tr>
<tr><td>Winthrop 15</td><td>MARK D</td></tr>
<tr><td>Wis.-Milwaukee&nbsp;11</td><td>WARREN</td></tr>
<tr><td>Wisconsin 9</td><td>FRANK</td></tr>
<tr><td>Xavier 14</td><td>FRANK</td></tr>
</table>
</td>
</tr></table>
</CENTER>

<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

