---
---
<HTML>
<head>
<title>21st-Century NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.century     {font: 12px arial}
   th.century     {font: 12px arial}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<br>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>NCAA Men's Basketball Tournament<br>21st-Century Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=1>
<tr>
    <TH class="century">&nbsp;</th>
    <TH class="century" width=9%>Bill</th>
    <TH class="century" width=9%>Chris</th>
    <TH class="century" width=9%>Dana</th>
    <TH class="century" width=9%>Dave D</th>
    <TH class="century" width=9%>Frank</th>
    <TH class="century" width=9%>Glen</th>
    <TH class="century" width=9%>Ike</th>
    <TH class="century" width=9%>Jason</th>
    <TH class="century" width=9%>Jeff</th>
    <TH class="century" width=9%>Jerry</th>
    <TH class="century" width=9%>Lyndon</th>
    <TH class="century" width=9%>Mark&nbsp;D</th>
    <TH class="century" width=9%>Mark&nbsp;H</th>
    <TH class="century" width=9%>Mary</th>
    <TH class="century" width=9%>Mike&nbsp;C</th>
    <TH class="century" width=9%>Mike&nbsp;S</th>
    <TH class="century" width=9%>Norb</th>
    <TH class="century" width=9%>Paul</th>
    <TH class="century" width=9%>Warren</th>
</tr>
<tr align=right>
    <TD class="century"><B>TOTAL</td>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$46.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$60.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$38.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN"><b>+$42.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$48.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$44.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$34.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$12.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN"><b>+$84.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN"><b>+$4.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$154.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN"><b>+$36.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$41.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$5.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN"><b>+$136.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">  <b>&#8209;$106.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century">&nbsp;</td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa17.html">2017</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$20.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$20.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa16.html">2016</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$20.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$20.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$34.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$28.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$34.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa15.html">2015</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$20.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$18.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$64.00</b></FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$18.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa14.html">2014</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$20.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$26.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$26.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$38.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$32.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$38.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa13.html">2013</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="BLACK">$0.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$18.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa12.html">2012</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$18.00</FONT></TD>
    <TD class="century"><FONT COLOR="BLACK">$0.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa11.html">2011</a></td>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$36.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$20.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$26.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$6.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa10.html">2010</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="BLACK">$0.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$22.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$24.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$18.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa09.html">2009</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$12.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$18.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa08.html">2008</a></td>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$36.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa07.html">2007</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$22.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$6.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$28.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa06.html">2006</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$28.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT$&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$2.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$5.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$5.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$12.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$16.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa05.html">2005</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$18.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$20.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$22.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa04.html">2004</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$6.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$18.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$8.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa03.html">2003</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$22.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT<&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$16.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$24.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$12.00</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$24.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$4.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa02.html">2002</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$12.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT<&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$10.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD>
    <TD class="century"><FONT COLOR="GREEN">+$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$14.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$18.00</FONT></TD>
</tr>
<tr align=right>
    <TD class="century"><a href="ncaa01.html">2001</a></td>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$6.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$22.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT<&nbsp;</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$2.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$8.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
    <TD class="century"><FONT>&nbsp;</FONT></TD>
    <TD class="century" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$22.00</FONT></TD>
    <TD class="century"><FONT COLOR="RED">&#8209;$10.00</FONT></TD>
</tr>
</table>

</td>

<td width=25% align="right">
</td>

</tr>
</table>

<hr style="page-break-after:always;">

<h2>Records</h2>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=1><tr valign=top><td width=50%>

<strong>Round of 64</strong>
<ul>
	<li>Most teams advancing past Round of 64 in a single season: <strong>7</strong>
   <ul><li>Mark D (2009)</li></ul>
   </li>
	
   <li>Most money won after Round of 64 in a single season: <strong>$24.00</strong>
   <ul><li>Mary (2016)</li></ul>
   </li>
	
   <li>Fewest teams advancing past Round of 64 in a single season: <strong>1</strong>
   <ul><li>Warren (2009)</li></ul>
   </li>
	
   <li>Least money won after Round of 64 in a single season: <strong>$2.00</strong>
   <ul><li>Warren (2009)</li></ul>
   </li>

	<li>Most teams advancing past Round of 64 all-time: <strong>77</strong>
   <ul><li>Paul</li></ul>
   </li>
</ul>

</td><td>

<strong>Round of 32</strong>
<ul>
	<li>Most teams advancing past Round of 32 in a single season: <strong>5</strong>
   <ul><li>Paul (2001)</li></ul>
   </li>
	
   <li>Most money won after Round of 32 in a single season: <strong>$44.00</strong>
   <ul>
	   <li>Frank (2017)</li>
	   <li>Mary (2014)</li>
   </ul>
   </li>
	
   <li>Fewest teams advancing past Round of 32 in a single season: <strong>0</strong>
   <ul>
	   <li>Bill (2017)</li>
	   <li>Dave D (2011, 2006)</li>
	   <li>Glen (2014)</li>
	   <li>Jason (2014)</li>
	   <li>Jeff (2017)</li>
	   <li>Mark H (2004, 2003)</li>
	   <li>Mike S (2004)</li>
	   <li>Warren (2011)</li>
   </ul>
   </li>
	
   <li>Least money won after Round of 32 in a single season: <strong>$4.00</strong>
   <ul>
	   <li>Glen (2014)</li>
	   <li>Jason (2014)</li>
   </ul>
   </li>
	
   <li>Most teams advancing past Round of 32 all-time: <strong>46</strong>
   <ul><li>Paul</li></ul>
   </li>
	
</ul>

</td></tr><tr valign=top><td>

<strong>Sweet Sixteen</strong>
<ul>
	<li>Most teams advancing past Sweet Sixteen in a single season: <strong>3</strong>
   </li>
   <ul><li>Bill (2011)</li></ul>
   <ul><li>Glen (2017)</li></ul>
   <ul><li>Mark D (2017, 2013)</li></ul>
   <ul><li>Paul (2001)</li></ul>
	
   <li>Most money won after Sweet Sixteen in a single season: <strong>$64.00</strong>
   <ul>
	   <li>Mary (2015)</li>
   </ul>
   </li>
	
   <li>Most teams advancing past Sweet Sixteen all-time: <strong>25</strong>
   <ul><li>Mark D</li></ul>
   </li>
	
</ul>

</td><td>

<strong>Elite Eight</strong>
<ul>
	<li>Most teams advancing past Elite Eight in a single season: <strong>2</strong>
   <ul>
      <li>Bill (2011)</li>
      <li>Dave D (2005)</li>
      <li>Mark D (2013)</li>
      <li>Mark H (2014)</li>
      <li>Paul (2014)</li>
   </ul>
   </li>
	
   <li>Most money won after Elite Eight in a single season: <strong>$80.00</strong>
   <ul><li>Mary (2014)</li></ul>
   </li>
	
   <li>Most teams advancing past Elite Eight all-time: <strong>11</strong>
   <ul>
	   <li>Paul</li>
   </ul>
   </li>

</ul>

</td></tr><tr valign=top><td>

<strong>Final 4</strong>
<ul>
	<li>Most teams advancing past Final 4 in a single season: <strong>1</strong>
   <ul>
      <li>Bill (2011)</li>
      <li>Dave D (2009)</li>
      <li>Frank (2017, 2015, 2013, 2012, 2004, 2002)</li>
      <li>Ike (2006, 2003, 2001)</li>
      <li>Mark D (2013, 2011, 2006, 2005, 2004)</li>
      <li>Mark H (2017, 2016, 2014, 2005)</li>
      <li>Mary (2015, 2014, 2012, 2010, 2009)</li>
      <li>Mike (2016, 2008, 2007, 2003)</li>
      <li>Paul (2017, 2016, 2014, 2008, 2007, 2001)</li>
      <li>Warren (2010)</li>
   </ul>
   </li>
	
   <li>Most money won after Final 4 in a single season: <strong>$100.00</strong>
   <ul>
	   <li>Mary (2014)</li>
   </ul>
   </li>
	
   <li>Most teams advancing past Final 4 all-time: <strong>6</strong>
   <ul>
      <li>Frank</li>
      <li>Paul</li>
   </ul>
   </li>
	
</ul>

</td><td>

<strong>Championship Game</strong>
<ul>
   <li>Most money won in a single season: <strong>$124.00</strong>
   <ul>
	   <li>Mary (2015)</li>
   </ul>
   </li>

   <li>Most profit made in a single season: <strong>$64.00</strong>
   <ul>
	   <li>Mary (2015)</li>
   </ul>
   </li>

   <li>Most teams winning the championship all-time: <strong>5</strong>
   <ul>
      <li>Paul</li>
   </ul>
   </li>
	
</ul>

</td></tr></table>

<br><br>

</BODY>
</HTML>

