---
---
<HTML>
<head>
<title>2008 NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.norm           {font: 9px arial}
   td.blank          {font: 1px arial; width:82px}
   td.center         {font: 1px arial; width:100px}
   td.finals         {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px; text-align: center; font: 22px arial}
   td.hline          {font: 1px arial; height=1px; width=82px; background-color: rgb(0,0,0)}
   td.vline-left-m   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-m  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-left-b   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-right-b  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-left-s   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-s  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2008 NCAA Men's Basketball Tournament Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM> <th>NAME</TH>             <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                                <TH>NET</TH></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Bill</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$18.00</FONT></TD>  <TD><FONT COLOR="RED">-$12.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Dave D</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$14.00</FONT></TD>  <TD><FONT COLOR="RED">-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Frank</TD> <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$14.00</FONT></TD>  <TD><FONT COLOR="RED">-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark D</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$34.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark H</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$34.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mike S</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$44.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$14.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Paul</TD>  <TD>$30.00</TD>       <TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$66.00</FONT></TD>  <TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$36.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Warren</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">+$16.00</FONT></TD>  <TD><FONT COLOR="RED">-$14.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<br style="page-break-after:always;"><br>

<table cellpadding="0" cellspacing="0" border=0>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>1 MARK D - North Carolina +$2</font></td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Memphis - MIKE S 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>16 WARREN - Mount St. Mary's</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Texas - Arlington - MARK D 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 MARK D - North Carolina +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Memphis - MIKE S 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>9 FRANK - Arkansas</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Mississippi State - WARREN 8</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>8 MARK D - Indiana</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Mississippi State - WARREN 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>9 FRANK - Arkansas +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Oregon - BILL 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 MARK D - North Carolina +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Memphis - MIKE S 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 MARK H - Washington State</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Michigan State - PAUL 5</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>5 DAVE D - Notre Dame +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Michigan State - PAUL 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>12 DAVE D - George Mason</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Temple - MIKE S 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>5 DAVE D - Notre Dame</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Michigan State - PAUL 5</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>4 MARK H - Washington State +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Pittsburgh - PAUL 4</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>4 MARK H - Washington State +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Pittsburgh - PAUL 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>13 MIKE S - Winthrop</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Oral Roberts - MARK D 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 MARK D - North Carolina +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Memphis - MIKE S 1</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 WARREN - Louisville</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Texas - DAVE D 2</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>6 MARK H - Oklahoma +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Marquette - MIKE S 6</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>11 MARK D - Saint Joseph's</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Kentucky - WARREN 11</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>6 MARK H - Oklahoma</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Marquette - MIKE S 6</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>3 WARREN - Louisville +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 Stanford - BILL 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>3 WARREN - Louisville +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Stanford - BILL 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>14 PAUL - Boise State</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Cornell - DAVE D 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 WARREN - Louisville +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Stanford - BILL 3</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2><font color=green>+$12 1 Paul -<br>Kansas</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 BILL - Tennessee</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Texas - DAVE D 2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>7 FRANK - Butler +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Miami - PAUL 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>10 MARK D - South Alabama</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Saint Mary's - DAVE D 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>7 FRANK - Butler</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Miami - PAUL 7</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>2 BILL - Tennessee +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 Texas - DAVE D 2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>2 BILL - Tennessee +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Texas - DAVE D 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>15 BILL - American</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Austin Peay - MIKE S 15</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 MARK D - North Carolina</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$10 Memphis - MIKE S 1</font></td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 PAUL - Kansas +$10</font></td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>UCLA - MARK H 1</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>1 PAUL - Kansas +$2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 UCLA - MARK H 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>16 MARK H - Portland State</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Miss. Valley State - PAUL 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>1 PAUL - Kansas +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 UCLA - MARK H 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2>1 Mike S -<br>Memphis</font></td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>8 MARK H - UNLV</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Texas A&M - MARK H 9</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>8 MARK H - UNLV +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>BYU - BILL 8</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>9 MIKE S - Kent State</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Texas A&M - MARK H 9</font></td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 PAUL - Kansas +$6</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 UCLA - MARK H 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>






   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>12 FRANK - Villanova</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Western Kentucky - BILL 12</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>5 WARREN - Clemson</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Drake - FRANK 5</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>12 FRANK - Villanova +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 Western Kentucky - BILL 12</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>12 FRANK - Villanova +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 Western Kentucky - BILL 12</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>13 MARK H - Siena</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>San Diego - FRANK 13</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>4 FRANK - Vanderbilt</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Connecticut - DAVE D 4</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>13 MARK H - Siena +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$2 San Diego - FRANK 13</font></td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 PAUL - Kansas +$8</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 UCLA - MARK H 1</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>10 PAUL - Davidson</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Xavier - MARK D 3</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>6 BILL - USC</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Purdue - MARK D 6</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>11 PAUL - Kansas State +$2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Baylor - MARK H 11</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>11 PAUL - Kansas State</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Purdue - MARK D 6</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 MIKE S - Wisconsin +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$4 Xavier - MARK D 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>3 MIKE S - Wisconsin +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Xavier - MARK D 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>14 BILL - Cal St. Fullerton</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Georgia - WARREN 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 MIKE S - Wisconsin</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$6 Xavier - MARK D 3</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>10 PAUL - Davidson +$6</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>West Virginia - MIKE S 7</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>7 DAVE D - Gonzaga</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 West Virginia - MIKE S 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>10 PAUL - Davidson +$2</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Arizona - WARREN 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>10 PAUL - Davidson +$4</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$4 West Virginia - MIKE S 7</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 WARREN - Georgetown</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Duke - FRANK 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>2 WARREN - Georgetown +$2</font></td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$2 Duke - FRANK 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>15 DAVE D - UMBC</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Belmont - FRANK 15</td>
   </tr>

</table>

<br style="page-break-after:always;"><br>


<H2>Players and Teams</H2>
<TABLE BORDER=0>
<TR>
<TD WIDTH=45%>

<Table border WIDTH=100%>
<tr valign="top">
<td>BILL</td>
<td>
2 Tennessee<br>
3 Stanford<br>
6 USC<br>
8 BYU<br>
9 Oregon<br>
12 Western Kentucky<br>
14 Cal St. Fullerton<br>
15 American<br>
</td>
</tr>
<tr valign="top">
<td>DAVE D</td>
<td>
2 Texas<br>
4 Connecticut<br>
5 Notre Dame<br>
7 Gonzaga<br>
10 Saint Mary's<br>
12 George Mason<br>
14 Cornell<br>
15 UMBC<br>
</td>
</tr>
<tr valign="top">
<td>FRANK</td>
<td>
2 Duke<br>
4 Vanderbilt<br>
5 Drake<br>
7 Butler<br>
9 Arkansas<br>
12 Villanova<br>
13 San Diego<br>
15 Belmont<br>
</td>
</tr>
<tr valign="top">
<td>MARK D</td>
<td>
1 North Carolina<br>
3 Xavier<br>
6 Purdue<br>
8 Indiana<br>
10 South Alabama<br>
11 Saint Joseph's<br>
13 Oral Roberts<br>
16 Texas - Arlington<br>
</td>
</tr>
</TABLE>
</TD>

<td width=10%>&nbsp;</td>

<TD WIDTH=45%>
<Table border WIDTH=100%>
<tr valign="top">
<td>MARK H</td>
<td>
1 UCLA<br>
4 Washington State<br>
6 Oklahoma<br>
8 UNLV<br>
9 Texas A&M<br>
11 Baylor<br>
13 Siena<br>
16 Portland State<br>
</td>
</tr>
<tr valign="top">
<td>MIKE S</td>
<td>
1 Memphis<br>
3 Wisconsin<br>
6 Marquette<br>
7 West Virginia<br>
9 Kent State<br>
12 Temple<br>
13 Winthrop<br>
15 Austin Peay<br>
</td>
</tr>
<tr valign="top">
<td>PAUL</td>
<td>
1 Kansas<br>
4 Pittsburgh<br>
5 Michigan State<br>
7 Miami<br>
10 Davidson<br>
11 Kansas State<br>
14 Boise State<br>
16&nbspMiss.&nbspValley&nbspState<br>
</td>
</tr>
<tr valign="top">
<td>WARREN</td>
<td>
2 Georgetown<br>
3 Louisville<br>
5 Clemson<br>
8 Mississippi State<br>
10 Arizona<br>
11 Kentucky<br>
14 Georgia<br>
16 Mount St. Mary's<br>
</td>
</tr>
</Table>

</TD>
</TR>
</TABLE>
<br style="page-break-after:always;"><br>


<H2>Teams and Players</H2>
<table border=0><tr>
<td width=45%>
<table border>
<tr><td>American 15</td><td>BILL</td></tr>
<tr><td>Arizona 10</td><td>WARREN</td></tr>
<tr><td>Arkansas 9</td><td>FRANK</td></tr>
<tr><td>Austin Peay 15</td><td>MIKE S</td></tr>
<tr><td>BYU 8</td><td>BILL</td></tr>
<tr><td>Baylor 11</td><td>MARK H</td></tr>
<tr><td>Belmont 15</td><td>FRANK</td></tr>
<tr><td>Boise State 14</td><td>PAUL</td></tr>
<tr><td>Butler 7</td><td>FRANK</td></tr>
<tr><td>Cal St. Fullerton 14</td><td>BILL</td></tr>
<tr><td>Clemson 5</td><td>WARREN</td></tr>
<tr><td>Connecticut 4</td><td>DAVE D</td></tr>
<tr><td>Cornell 14</td><td>DAVE D</td></tr>
<tr><td>Davidson 10</td><td>PAUL</td></tr>
<tr><td>Drake 5</td><td>FRANK</td></tr>
<tr><td>Duke 2</td><td>FRANK</td></tr>
<tr><td>George Mason 12</td><td>DAVE D</td></tr>
<tr><td>Georgetown 2</td><td>WARREN</td></tr>
<tr><td>Georgia 14</td><td>WARREN</td></tr>
<tr><td>Gonzaga 7</td><td>DAVE D</td></tr>
<tr><td>Indiana 8</td><td>MARK D</td></tr>
<tr><td>Kansas 1</td><td>PAUL</td></tr>
<tr><td>Kansas State 11</td><td>PAUL</td></tr>
<tr><td>Kent State 9</td><td>MIKE S</td></tr>
<tr><td>Kentucky 11</td><td>WARREN</td></tr>
<tr><td>Louisville 3</td><td>WARREN</td></tr>
<tr><td>Marquette 6</td><td>MIKE S</td></tr>
<tr><td>Memphis 1</td><td>MIKE S</td></tr>
<tr><td>Miami 7</td><td>PAUL</td></tr>
<tr><td>Michigan State 5</td><td>PAUL</td></tr>
<tr><td>Miss. Valley State 16</td><td>PAUL</td></tr>
<tr><td>Mississippi State 8</td><td>WARREN</td></tr>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<tr><td>Mount St. Mary's 16</td><td>WARREN</td></tr>
<tr><td>North Carolina 1</td><td>MARK D</td></tr>
<tr><td>Notre Dame 5</td><td>DAVE D</td></tr>
<tr><td>Oklahoma 6</td><td>MARK H</td></tr>
<tr><td>Oral Roberts 13</td><td>MARK D</td></tr>
<tr><td>Oregon 9</td><td>BILL</td></tr>
<tr><td>Pittsburgh 4</td><td>PAUL</td></tr>
<tr><td>Portland State 16</td><td>MARK H</td></tr>
<tr><td>Purdue 6</td><td>MARK D</td></tr>
<tr><td>Saint Joseph's 11</td><td>MARK D</td></tr>
<tr><td>Saint Mary's 10</td><td>DAVE D</td></tr>
<tr><td>San Diego 13</td><td>FRANK</td></tr>
<tr><td>Siena 13</td><td>MARK H</td></tr>
<tr><td>South Alabama 10</td><td>MARK D</td></tr>
<tr><td>Stanford 3</td><td>BILL</td></tr>
<tr><td>Temple 12</td><td>MIKE S</td></tr>
<tr><td>Tennessee 2</td><td>BILL</td></tr>
<tr><td>Texas - Arlington 16</td><td>MARK D</td></tr>
<tr><td>Texas 2</td><td>DAVE D</td></tr>
<tr><td>Texas A&M 9</td><td>MARK H</td></tr>
<tr><td>UCLA 1</td><td>MARK H</td></tr>
<tr><td>UMBC 15</td><td>DAVE D</td></tr>
<tr><td>UNLV 8</td><td>MARK H</td></tr>
<tr><td>USC 6</td><td>BILL</td></tr>
<tr><td>Vanderbilt 4</td><td>FRANK</td></tr>
<tr><td>Villanova 12</td><td>FRANK</td></tr>
<tr><td>Washington State 4</td><td>MARK H</td></tr>
<tr><td>West Virginia 7</td><td>MIKE S</td></tr>
<tr><td>Western Kentucky 12</td><td>BILL</td></tr>
<tr><td>Winthrop 13</td><td>MIKE S</td></tr>
<tr><td>Wisconsin 3</td><td>MIKE S</td></tr>
<tr><td>Xavier 3</td><td>MARK D</td></tr>
</table>
</td>
</tr></table>
</CENTER>


<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

