---
---
<HTML>
<head>
<title>2004 NCAA Men's Basketball Tournament Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2004 NCAA Men's Basketball Tournament Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Dave D</TD>  <TD><FONT COLOR="GREEN">+$6.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Frank</TD> <TD><FONT COLOR="GREEN">+$18.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Ike</TD>   <TD><FONT COLOR="GREEN">+$8.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mark D</TD><TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$32.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mark H</TD><TD><FONT COLOR="RED">-$24.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Mike S</TD><TD><FONT COLOR="RED">-$24.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Paul</TD>  <TD><FONT COLOR="RED">-$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT><TD ALIGN=LEFT>Warren</TD><TD><FONT COLOR="RED">-$12.00</FONT></TD></TR>
</Table>


</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<P>

<IMG SRC=ncaa04.gif>
<!--<h3>Updated bracket will be available on Monday, April 5, 2004.</h3>-->

<P>


<H2>Players and Teams</H2>
<!-- Table -->
<TABLE BORDER=0>
<TR>
<TD WIDTH=50%>

<Table border WIDTH=100%>
<TR VALIGN="TOP">
<TD>Dave D</TD>
<TD>2 OK State<BR>
3 N.C. State<BR>
5 Syracuse<BR>
8 Texas Tech<BR>
9 UAB<BR>
11 Richmond<BR>
13 ETSU<BR>
16 Liberty</TD>
</TR>
<TR VALIGN="TOP">
<TD>Frank</TD>
<TD>1 Stanford<BR>
3 Georgia Tech<BR>
6 Boston Coll.<BR>
7 Xavier<BR>
9 Arizona<BR>
12 Manhattan<BR>
13 UTEP<BR>
16 FL A&M</TD>
</TR>
<TR VALIGN="TOP">
<TD>Ike</TD>
<TD>1 Duke<BR>
3 Texas<BR>
5 Providence<BR>
8 Alabama<BR>
9 S. Illinois<BR>
11 Utah<BR>
14 Nothern Iowa<BR>
15 Monmouth</TD>
</TR>
<TR VALIGN="TOP">
<TD>Mark D</TD>
<TD>2 UConn<BR>
4 Kansas<BR>
6 Vanderbilt<BR>
7 Michigan St.<BR>
10 Dayton<BR>
12 Pacific<BR>
14 UL-Lafayette<BR>
15 E. Wash.</TD>
</TR>
</TABLE>
</TD>

<TD WIDTH=50%>
<Table border WIDTH=100%>
<TR VALIGN="TOP">
<TD>Mark H</TD>
<TD>2 Gonzaga<BR>
4 Cincinnati<BR>
6 Wisconsin<BR>
8 Washington<BR>
10 Louisville<BR>
12 Murray St.<BR>
14 Princeton<BR>
15 Valparaiso</TD>
</TR>
<TR VALIGN="TOP">
<TD>Mike S</TD>
<TD>1 Kentucky<BR>
4 Maryland<BR>
5 Florida<BR>
8 Seton Hall<BR>
10 South Carolina<BR>
11 Air Force<BR>
13 IL-Chicago<BR>
15 Vermont</TD>
</TR>
<TR VALIGN="TOP">
<TD>Paul</TD>
<TD>1 St. Joe's<BR>
3 Pitt<BR>
5 Illinois<BR>
7 Memphis<BR>
9 Charlotte<BR>
11 W Michigan<BR>
13 VCU<BR>
16 Alabama St.</TD>
</TR>
<TR VALIGN="TOP">
<TD>Warren</TD>
<TD>2 Miss. St.<BR>
4 Wake Forest<BR>
6 North Carolina<BR>
7 DePaul<BR>
10 Nevada<BR>
12 BYU<BR>
14 Central FL<BR>
16 TX-San Antonio</TD>
</TR>
</Table>

</TD>
</TR>
</TABLE>
<P><BR>


<H2>Teams and Players</H2>
<!-- Table -->
<table border=0><tr>
<td width=45%>
<table border>
<TR><TD>Air Force 11</TD><TD>Mike S</TD></TR>
<TR><TD>Alabama 8</TD><TD>Ike</TD></TR>
<TR><TD>Alabama St. 16</TD><TD>Paul</TD></TR>
<TR><TD>Arizona 9</TD><TD>Frank</TD></TR>
<TR><TD>Boston Coll. 6</TD><TD>Frank</TD></TR>
<TR><TD>BYU 12</TD><TD>Warren</TD></TR>
<TR><TD>Central FL 14</TD><TD>Warren</TD></TR>
<TR><TD>Charlotte 9</TD><TD>Paul</TD></TR>
<TR><TD>Cincinnati 4</TD><TD>Mark H</TD></TR>
<TR><TD>Dayton 10</TD><TD>Mark D</TD></TR>
<TR><TD>DePaul 7</TD><TD>Warren</TD></TR>
<TR><TD>Duke 1</TD><TD>Ike</TD></TR>
<TR><TD>E. Wash. 15</TD><TD>Mark D</TD></TR>
<TR><TD>ETSU 13</TD><TD>Dave D</TD></TR>
<TR><TD>FL A&M 16</TD><TD>Frank</TD></TR>
<TR><TD>Florida 5</TD><TD>Mike S</TD></TR>
<TR><TD>Georgia Tech 3</TD><TD>Frank</TD></TR>
<TR><TD>Gonzaga 2</TD><TD>Mark H</TD></TR>
<TR><TD>IL-Chicago 13</TD><TD>Mike S</TD></TR>
<TR><TD>Illinois 5</TD><TD>Paul</TD></TR>
<TR><TD>Kansas 4</TD><TD>Mark D</TD></TR>
<TR><TD>Kentucky 1</TD><TD>Mike S</TD></TR>
<TR><TD>Liberty 16</TD><TD>Dave D</TD></TR>
<TR><TD>Louisville 10</TD><TD>Mark H</TD></TR>
<TR><TD>Manhattan 12</TD><TD>Frank</TD></TR>
<TR><TD>Maryland 4</TD><TD>Mike S</TD></TR>
<TR><TD>Memphis 7</TD><TD>Paul</TD></TR>
<TR><TD>Michigan St. 7</TD><TD>Mark D</TD></TR>
<TR><TD>Miss. St. 2</TD><TD>Warren</TD></TR>
<TR><TD>Monmouth 15</TD><TD>Ike</TD></TR>
<TR><TD>Murray St. 12</TD><TD>Mark H</TD></TR>
<TR><TD>N.C. State 3</TD><TD>Dave D</TD></TR>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<TR><TD>Nevada 10</TD><TD>Warren</TD></TR>
<TR><TD>North Carolina 6</TD><TD>Warren</TD></TR>
<TR><TD>Nothern Iowa 14</TD><TD>Ike</TD></TR>
<TR><TD>OK State 2</TD><TD>Dave D</TD></TR>
<TR><TD>Pacific 12</TD><TD>Mark D</TD></TR>
<TR><TD>Pitt 3</TD><TD>Paul</TD></TR>
<TR><TD>Princeton 14</TD><TD>Mark H</TD></TR>
<TR><TD>Providence 5</TD><TD>Ike</TD></TR>
<TR><TD>Richmond 11</TD><TD>Dave D</TD></TR>
<TR><TD>S. Illinois 9</TD><TD>Ike</TD></TR>
<TR><TD>Seton Hall 8</TD><TD>Mike S</TD></TR>
<TR><TD>South Carolina 10&nbsp;&nbsp;&nbsp;</TD><TD>Mike S</TD></TR>
<TR><TD>St. Joe's 1</TD><TD>Paul</TD></TR>
<TR><TD>Stanford 1</TD><TD>Frank</TD></TR>
<TR><TD>Syracuse 5</TD><TD>Dave D</TD></TR>
<TR><TD>Texas 3</TD><TD>Ike</TD></TR>
<TR><TD>Texas Tech 8</TD><TD>Dave D</TD></TR>
<TR><TD>TX-San Antonio 16</TD><TD>Warren</TD></TR>
<TR><TD>UAB 9</TD><TD>Dave D</TD></TR>
<TR><TD>UConn 2</TD><TD>Mark D</TD></TR>
<TR><TD>UL-Lafayette 14</TD><TD>Mark D</TD></TR>
<TR><TD>Utah 11</TD><TD>Ike</TD></TR>
<TR><TD>UTEP 13</TD><TD>Frank</TD></TR>
<TR><TD>Valparaiso 15</TD><TD>Mark H</TD></TR>
<TR><TD>Vanderbilt 6</TD><TD>Mark D</TD></TR>
<TR><TD>VCU 13</TD><TD>Paul</TD></TR>
<TR><TD>Vermont 15</TD><TD>Mike S</TD></TR>
<TR><TD>W Michigan 11</TD><TD>Paul</TD></TR>
<TR><TD>Wake Forest 4</TD><TD>Warren</TD></TR>
<TR><TD>Washington 8</TD><TD>Mark H</TD></TR>
<TR><TD>Wisconsin 6</TD><TD>Mark H</TD></TR>
<TR><TD>Xavier 7</TD><TD>Frank</TD></TR>
</table>
</td>
</tr></table>
</CENTER>

<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

