---
---
<HTML>
<head>
<title>2015 NCAA Men's Basketball Tournament Results</title>
<style type="text/css">
   td.norm           {font: 9px arial}
   td.blank          {font: 1px arial; width:82px}
   td.center         {font: 1px arial; width:100px}
   td.finals         {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px; text-align: center; font: 18px arial}
   td.hline          {font: 1px arial; height=1px; width=82px; background-color: rgb(0,0,0)}
   td.vline-left-m   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-m  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-left-b   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-right-b  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 9px arial; height=9px}
   td.vline-left-s   {border: solid rgb(0,0,0); border-left-width: 2px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   td.vline-right-s  {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px; font: 1px arial; height=1px}
   tr.leader         {font-weight:bold; background-color: #D7FFD7}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2015 NCAA Men's Basketball Tournament Entries/Results</H1>
<P>
$60.00 entry fee
<BR><BR>
($4.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM>             <th>NAME(S)</TH>                    <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                                <TH>NET</TH></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Bill & Chris</TD>    <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$40.00</FONT></TD>  <TD><FONT COLOR="RED">-$20.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Dave D & Mark D</TD> <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$68.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$8.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Frank</TD>           <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$80.00</FONT></TD>  <TD><FONT COLOR="GREEN">+$20.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Glen & Jason</TD>    <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$44.00</FONT></TD>  <TD><FONT COLOR="RED">-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Jeff & Lyndon</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$44.00</FONT></TD>  <TD><FONT COLOR="RED">-$16.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mark H & Paul</TD>   <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$24.00</FONT></TD>  <TD><FONT COLOR="RED">-$36.00</FONT></TD></TR>
<TR ALIGN=RIGHT CLASS=leader>  <TD ALIGN=LEFT>Mary</TD>            <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$124.00</FONT></TD> <TD><FONT COLOR="GREEN">+$64.00</FONT></TD></TR>
<TR ALIGN=RIGHT>               <TD ALIGN=LEFT>Mike S</TD>          <TD>$60.00</TD>       <TD><FONT COLOR="GREEN">+$56.00</FONT></TD>  <TD><FONT COLOR="RED">-$4.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<br style="page-break-after:always;"><br>
<table cellpadding="0" cellspacing="0" border=0>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>1 DAVE D & MARK D - Kentucky +$4</font></td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Villanova - JEFF & LYNDON 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>16 DAVE D & MARK D - Hampton</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Lafayette - MIKE S 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 DAVE D & MARK D - Kentucky +$8</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Villanova - JEFF & LYNDON 1</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>8 BILL & CHRIS - Cincinnati</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 N Car. St. - MARK H & PAUL 8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>8 BILL & CHRIS - Cincinnati +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 N Car. St. - MARK H & PAUL 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>9 MARK H & PAUL - Purdue</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>LSU - MARY 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 DAVE D & MARK D - Kentucky +$12</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>N Car. St. - MARK H & PAUL 8</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>5 DAVE D & MARK D - W Virginia</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Louisville - MARY 4</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>5 DAVE D & MARK D - W Virginia +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 N Iowa - JEFF & LYNDON 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>12 FRANK - Buffalo</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Wyoming - JEFF & LYNDON 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>5 DAVE D & MARK D - W Virginia +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>N Iowa - JEFF & LYNDON 5</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>4 BILL & CHRIS - Maryland</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Louisville - MARY 4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>4 BILL & CHRIS - Maryland +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Louisville - MARY 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>13 JEFF & LYNDON - Valparaiso</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>UC Irvine - MARY 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 DAVE D & MARK D - Kentucky +$16</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Louisville - MARY 4</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>3 JEFF & LYNDON - Notre Dame</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>Michigan State - MIKE S 7 +$16</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>6 BILL & CHRIS - Butler +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Providence - MIKE S 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>11 BILL & CHRIS - Texas</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Dayton - GLEN & JASON 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>6 BILL & CHRIS - Butler</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Dayton - GLEN & JASON 11</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>3 JEFF & LYNDON - Notre Dame +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Oklahoma - MIKE S 3</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>3 JEFF & LYNDON - Notre Dame +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Oklahoma - MIKE S 3</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>14 MARK H & PAUL - Northeastern</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Albany - DAVE D & MARK D 14</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>3 JEFF & LYNDON - Notre Dame +$12</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Oklahoma - MIKE S 3</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2>FRANK<br>1 Wisconsin</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>7 JEFF & LYNDON - Wichita St.</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Michigan State - MIKE S 7</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>7 JEFF & LYNDON - Wichita St. +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Michigan State - MIKE S 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>10 FRANK - Indiana</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Georgia - DAVE D & MARK D 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>7 JEFF & LYNDON - Wichita St. +$8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Michigan State - MIKE S 7</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>2 MIKE S - Kansas</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Virginia - MARK H & PAUL 2</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>2 MIKE S - Kansas +$4</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 Virginia - MARK H & PAUL 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>15 MARK H & PAUL - New Mexico St.</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Belmont - BILL & CHRIS 15</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>1 DAVE D & MARK D - Kentucky</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Michigan State - MIKE S 7</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Wisconsin +$20</font></td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$20 Duke - MARY 1</font></td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>1 FRANK - Wisconsin +$4</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Duke - MARY 1</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>16 JEFF & LYNDON - Coastal Car.</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Robert Morris - GLEN & JASON 16</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>1 FRANK - Wisconsin +$8</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Duke - MARY 1</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=finals rowspan=9 colspan=2><font color=green>+$24 MARY<br>1 Duke</font></td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>8 FRANK - Oregon</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>SDSU - DAVE D & MARK D 8</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>8 FRANK - Oregon +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 SDSU - DAVE D & MARK D 8</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>9 BILL & CHRIS - Oklahoma State</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>St. John's - JEFF & LYNDON 9</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Wisconsin +$12</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Duke - MARY 1</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>






   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>4 DAVE D & MARK D - N Carolina</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Utah - GLEN & JASON 5</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>5 MARK H & PAUL - Arkansas +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Utah - GLEN & JASON 5</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>12 MARK H & PAUL - Wofford</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>SF Austin - DAVE D & MARK D 12</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>5 MARK H & PAUL - Arkansas</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 Utah - GLEN & JASON 5</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>4 DAVE D & MARK D - N Carolina +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Georgetown - MARK H & PAUL 4</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>4 DAVE D & MARK D - N Carolina +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Georgetown - MARK H & PAUL 4</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>13 MIKE S - Harvard</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>E Washington - GLEN & JASON 13</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>1 FRANK - Wisconsin +$16</font></td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$16 Duke - MARY 1</font></td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>2 GLEN & JASON - Arizona</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>Gonzaga - BILL & CHRIS 2</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=3>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=3>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>6 FRANK - Xavier +$4</font></td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>SMU - MARY 6</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>11 MIKE S - Ole Miss</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 UCLA - MARY 11</font></td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top><font color=green>6 FRANK - Xavier +$8</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top><font color=green>+$8 UCLA - MARY 11</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>14 FRANK - Georgia State</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>UAB - BILL & CHRIS 14</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>3 FRANK - Baylor</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top>Iowa State - GLEN & JASON 3</td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>14 FRANK - Georgia State +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom><font color=green>+$4 UAB - BILL & CHRIS 14</font></td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom>6 FRANK - Xavier</td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom>UCLA - MARY 11</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 GLEN & JASON - Arizona +$12</font></td>
      <td class=blank colspan=4>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$12 Gonzaga - BILL & CHRIS 2</font></td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=2>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=2>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top>7 GLEN & JASON - VCU</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Iowa - MARY 7</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-s>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-s>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom><font color=green>10 GLEN & JASON - Ohio State +$4</font></td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>Davidson - MIKE S 10</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=top>10 GLEN & JASON - Ohio State</td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=top>Iowa - MARY 7</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-b colspan=2 align=left valign=bottom><font color=green>2 GLEN & JASON - Arizona +$8</font></td>
      <td class=blank colspan=6>&nbsp;</td>
      <td class=vline-right-b colspan=2 align=right valign=bottom><font color=green>+$8 Gonzaga - BILL & CHRIS 2</font></td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=blank colspan=1>&nbsp;</td>
      <td class=vline-left-m>&nbsp;</td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=vline-right-m>&nbsp;</td>
      <td class=blank colspan=1>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=top><font color=green>2 GLEN & JASON - Arizona +$4</font></td>
      <td class=blank colspan=8>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=top><font color=green>+$4 Gonzaga - BILL & CHRIS 2</font></td>
   </tr>
   <tr>
      <td class=hline>&nbsp;</td>
      <td class=blank colspan=10>&nbsp;</td>
      <td class=hline>&nbsp;</td>
   </tr>
   <tr>
      <td class=norm colspan=2 align=left  valign=bottom>15 FRANK - Texas Southern</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=center>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=blank>&nbsp;</td>
      <td class=norm colspan=2 align=right valign=bottom>N Dakota St. - MARY 15</td>
   </tr>

</table>

<br style="page-break-after:always;"><br>

<H2>Players and Teams</H2>
<TABLE BORDER=0>
<TR>
<TD WIDTH=45%>

<Table border WIDTH=100%>

<TR valign="top">
<TD>BILL & CHRIS</TD><TD>
2 Gonzaga<BR>
4 Maryland<BR>
6 Butler<BR>
8 Cincinnati<BR>
9 Oklahoma State<BR>
11 Texas<BR>
14 UAB<BR>
15 Belmont<BR>
</TD></TR>

<TR valign="top">
<TD>DAVE D & MARK D</TD><TD>
1 Kentucky<BR>
4 N Carolina<BR>
5 W Virginia<BR>
8 SDSU<BR>
10 Georgia<BR>
12 SF Austin<BR>
14 Albany<BR>
16 Hampton<BR>
</TD></TR>

<TR valign="top">
<TD>FRANK</TD><TD>
1 Wisconsin<BR>
3 Baylor<BR>
6 Xavier<BR>
8 Oregon<BR>
10 Indiana<BR>
12 Buffalo<BR>
14 Georgia State<BR>
15 Texas Southern<BR>
</TD></TR>

<TR valign="top">
<TD>GLEN & JASON</TD><TD>
2 Arizona<BR>
3 Iowa State<BR>
5 Utah<BR>
7 VCU<BR>
10 Ohio State<BR>
11 Dayton<BR>
13 E Washington<BR>
16 Robert Morris<BR>
</TD></TR>

</TABLE>
</TD>

<td width=10%>&nbsp;</td>

<TD WIDTH=45%>
<Table border WIDTH=100%>

<TR valign="top">
<TD>JEFF & LYNDON</TD><TD>
1 Villanova<BR>
3 Notre Dame<BR>
5 N Iowa<BR>
7 Wichita St.<BR>
9 St. John's<BR>
12 Wyoming<BR>
13 Valparaiso<BR>
16 Coastal Car.<BR>
</TD></TR>

<TR valign="top">
<TD>MARK H & PAUL</TD><TD>
2 Virginia<BR>
4 Georgetown<BR>
5 Arkansas<BR>
8 N Car. St.<BR>
9 Purdue<BR>
12 Wofford<BR>
14 Northeastern<BR>
15 New Mexico St.<BR>
</TD></TR>

<TR valign="top">
<TD>MARY</TD><TD>
1 Duke<BR>
4 Louisville<BR>
6 SMU<BR>
7 Iowa<BR>
9 LSU<BR>
11 UCLA<BR>
13 UC Irvine<BR>
15 N Dakota St.<BR>
</TD></TR>

<TR valign="top">
<TD>MIKE S</TD><TD>
2 Kansas<BR>
3 Oklahoma<BR>
6 Providence<BR>
7 Michigan State<BR>
10 Davidson<BR>
11 Ole Miss<BR>
13 Harvard<BR>
16 Lafayette<BR>
</TD></TR>

</Table>

</TD>
</TR>
</TABLE>
<br style="page-break-after:always;"><br>


<H2>Teams and Players</H2>
<table border=0><tr>
<td width=45%>
<table border WIDTH=100%>
<TR><TD>Albany 14</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>Arizona 2</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Arkansas 5</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Baylor 3</TD><TD>FRANK</TD></TR>
<TR><TD>Belmont 15</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Buffalo 12</TD><TD>FRANK</TD></TR>
<TR><TD>Butler 6</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Cincinnati 8</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Coastal Car. 16</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Davidson 10</TD><TD>MIKE S</TD></TR>
<TR><TD>Dayton 11</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Duke 1</TD><TD>MARY</TD></TR>
<TR><TD>E Washington 13</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Georgetown 4</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Georgia 10</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>Georgia State 14</TD><TD>FRANK</TD></TR>
<TR><TD>Gonzaga 2</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Hampton 16</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>Harvard 13</TD><TD>MIKE S</TD></TR>
<TR><TD>Indiana 10</TD><TD>FRANK</TD></TR>
<TR><TD>Iowa 7</TD><TD>MARY</TD></TR>
<TR><TD>Iowa State 3</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Kansas 2</TD><TD>MIKE S</TD></TR>
<TR><TD>Kentucky 1</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>LSU 9</TD><TD>MARY</TD></TR>
<TR><TD>Lafayette 16</TD><TD>MIKE S</TD></TR>
<TR><TD>Louisville 4</TD><TD>MARY</TD></TR>
<TR><TD>Maryland 4</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Michigan State 7</TD><TD>MIKE S</TD></TR>
<TR><TD>New Mexico St. 15</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>N Carolina 4</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>N Car. St. 8</TD><TD>MARK H & PAUL</TD></TR>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border WIDTH=100%>
<TR><TD>N Dakota St. 15</TD><TD>MARY</TD></TR>
<TR><TD>Northeastern 14</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>N Iowa 5</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Notre Dame 3</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Ohio State 10</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Oklahoma 3</TD><TD>MIKE S</TD></TR>
<TR><TD>Oklahoma State 9</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Ole Miss 11</TD><TD>MIKE S</TD></TR>
<TR><TD>Oregon 8</TD><TD>FRANK</TD></TR>
<TR><TD>Providence 6</TD><TD>MIKE S</TD></TR>
<TR><TD>Purdue 9</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Robert Morris 16</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>SDSU 8</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>SMU 6</TD><TD>MARY</TD></TR>
<TR><TD>St. John's 9</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>SF Austin 12</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>Texas 11</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>Texas Southern 15</TD><TD>FRANK</TD></TR>
<TR><TD>UAB 14</TD><TD>BILL & CHRIS</TD></TR>
<TR><TD>UC Irvine 13</TD><TD>MARY</TD></TR>
<TR><TD>UCLA 11</TD><TD>MARY</TD></TR>
<TR><TD>Utah 5</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>VCU 7</TD><TD>GLEN & JASON</TD></TR>
<TR><TD>Valparaiso 13</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Villanova 1</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Virginia 2</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>W Virginia 5</TD><TD>DAVE D & MARK D</TD></TR>
<TR><TD>Wichita St. 7</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Wisconsin 1</TD><TD>FRANK</TD></TR>
<TR><TD>Wofford 12</TD><TD>MARK H & PAUL</TD></TR>
<TR><TD>Wyoming 12</TD><TD>JEFF & LYNDON</TD></TR>
<TR><TD>Xavier 6</TD><TD>FRANK</TD></TR>
</table>
</td>
</tr></table>

</CENTER>


<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

