---
---
<HTML>
<head>
<title>2005 NCAA Men's Basketball Tournament Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include ncaa_results.html %}
</td>

<td>

<center>

<H1>2005 NCAA Men's Basketball Tournament Results</H1>
<P>
$30.00 entry fee
<BR><BR>
($2.00 X [ROUND NUMBER]) back for each win
<P>

<Table border>
<TR VALIGN=BOTTOM> <th>NAME</TH>             <TH>ENTRY<BR>FEE</TH> <TH>WINS</TH>                              <TH>NET</TH></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Dave D</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$48.00</FONT></TD> <TD><FONT COLOR="GREEN">+$18.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Frank</TD> <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$22.00</FONT></TD> <TD><FONT COLOR="RED">-$8.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Ike</TD>   <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$10.00</FONT></TD> <TD><FONT COLOR="RED">-$20.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark D</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$40.00</FONT></TD> <TD><FONT COLOR="GREEN">+$10.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mark H</TD><TD>$30.00</TD>       <TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>$52.00</FONT></TD> <TD bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$22.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Mike S</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$16.00</FONT></TD> <TD><FONT COLOR="RED">-$14.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Paul</TD>  <TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$34.00</FONT></TD> <TD><FONT COLOR="GREEN">+$4.00</FONT></TD></TR>
<TR ALIGN=RIGHT>   <TD ALIGN=LEFT>Warren</TD><TD>$30.00</TD>       <TD><FONT COLOR="GREEN">$18.00</FONT></TD> <TD><FONT COLOR="RED">-$12.00</FONT></TD></TR>
</Table>

</td>

<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=ncaa.html>Click here for 21st-Century results.</a></td></tr></table>

</td>

</tr>
</table>

<P>

<IMG SRC=ncaa05.jpg>
<!--<h3>Updated bracket will be available on Monday, April 5, 2004.</h3>-->

<P>


<H2>Players and Teams</H2>
<!-- Table -->
<TABLE BORDER=0>
<TR>
<TD WIDTH=50%>

<Table border WIDTH=100%>
<tr valign=top>
<td>Dave D</td>
<td>2 Oklahoma St.<br>
4 Louisville<br>
5 Michigan St.<br>
8 Pacific<br>
9 Pittsburgh<br>
11 UTEP<br>
14 Niagara<br>
16 Delaware St.</td>
</tr>
<tr valign=top>
<td>Frank</td>
<td>1 Duke<br>
4 Florida<br>
5 Georgia Tech<br>
7 West Virginia<br>
10 Creighton<br>
12 Old Dominion<br>
13 Penn<br>
16 Montana</td>
</tr>
<tr valign=top>
<td>Ike</td>
<td>2 Wake Forest<br>
3 Kansas<br>
5 Alabama<br>
7 Charlotte<br>
10 North Carolina St.<br>
12 George Washington<br>
13 Vermont<br>
16 Fairleigh-Dickinson</td>
</tr>
<tr valign=top>
<td>Mark D</td>
<td>1 Illinois<br>
3 Gonzaga<br>
6 Texas Tech<br>
8 Minnesota<br>
9 Iowa St.<br>
12 New Mexico<br>
14 Winthrop<br>
16 Oakland</td>
</TR>
</TABLE>
</TD>

<TD WIDTH=50%>
<Table border WIDTH=100%>
<TR VALIGN="TOP">
<td>Mark H</td>
<td>1 North Carolina<br>
3 Oklahoma<br>
6 LSU<br>
8 Texas<br>
9 Mississippi St.<br>
12 UW-Milwaukee<br>
13 Louisiana-Lafayette<br>
15 Central Florida</td>
</tr>
<tr valign=top>
<td>Mike S</td>
<td>1 Washington<br>
4 Boston College<br>
6 Utah<br>
7 Southern Illinois<br>
10 Iowa<br>
11 UCLA<br>
14 Utah St.<br>
15 SE Louisiana</td>
</tr>
<tr valign=top>
<td>Paul</td>
<td>2 Kentucky<br>
3 Arizona<br>
5 Villanova<br>
7 Cincinnati<br>
10 St. Mary's<br>
11 Northern Iowa<br>
14 Bucknell<br>
15 E. Kentucky</td>
</tr>
<tr valign=top>
<td>Warren</td>
<td>2 Connecticut<br>
4 Syracuse<br>
6 Wisconsin<br>
8 Stanford<br>
9 Nevada<br>
11 UAB<br>
13 Ohio<br>
15 Chattanooga</td>
</tr>
</Table>

</TD>
</TR>
</TABLE>
<P><BR>


<H2>Teams and Players</H2>
<!-- Table -->
<table border=0><tr>
<td width=45%>
<table border>
<tr><td>Alabama 5</td><td>Ike</td></tr>
<tr><td>Arizona 3</td><td>Paul</td></tr>
<tr><td>Boston College 4</td><td>Mike S</td></tr>
<tr><td>Bucknell 14</td><td>Paul</td></tr>
<tr><td>Central Florida 15</td><td>Mark H</td></tr>
<tr><td>Charlotte 7</td><td>Ike</td></tr>
<tr><td>Chattanooga 15</td><td>Warren</td></tr>
<tr><td>Cincinnati 7</td><td>Paul</td></tr>
<tr><td>Connecticut 2</td><td>Warren</td></tr>
<tr><td>Creighton 10</td><td>Frank</td></tr>
<tr><td>Delaware St. 16</td><td>Dave D</td></tr>
<tr><td>Duke 1</td><td>Frank</td></tr>
<tr><td>E. Kentucky 15</td><td>Paul</td></tr>
<tr><td>Fairleigh-Dickinson 16</td><td>Ike</td></tr>
<tr><td>Florida 4</td><td>Frank</td></tr>
<tr><td>George Washington 12</td><td>Ike</td></tr>
<tr><td>Georgia Tech 5</td><td>Frank</td></tr>
<tr><td>Gonzaga 3</td><td>Mark D</td></tr>
<tr><td>Illinois 1</td><td>Mark D</td></tr>
<tr><td>Iowa 10</td><td>Mike S</td></tr>
<tr><td>Iowa St. 9</td><td>Mark D</td></tr>
<tr><td>Kansas 3</td><td>Ike</td></tr>
<tr><td>Kentucky 2</td><td>Paul</td></tr>
<tr><td>LSU 6</td><td>Mark H</td></tr>
<tr><td>Louisiana-Lafayette 13</td><td>Mark H</td></tr>
<tr><td>Louisville 4</td><td>Dave D</td></tr>
<tr><td>Michigan St. 5</td><td>Dave D</td></tr>
<tr><td>Minnesota 8</td><td>Mark D</td></tr>
<tr><td>Mississippi St. 9</td><td>Mark H</td></tr>
<tr><td>Montana 16</td><td>Frank</td></tr>
<tr><td>Nevada 9</td><td>Warren</td></tr>
<tr><td>New Mexico 12</td><td>Mark D</td></tr>
</table>
</td>

<td width=10%>&nbsp;</td>

<td width=45%>
<table border>
<tr><td>Niagara 14</td><td>Dave D</td></tr>
<tr><td>North Carolina 1</td><td>Mark H</td></tr>
<tr><td>North Carolina St. 10</td><td>Ike</td></tr>
<tr><td>Northern Iowa 11</td><td>Paul</td></tr>
<tr><td>Oakland 16</td><td>Mark D</td></tr>
<tr><td>Ohio 13</td><td>Warren</td></tr>
<tr><td>Oklahoma 3</td><td>Mark H</td></tr>
<tr><td>Oklahoma St. 2</td><td>Dave D</td></tr>
<tr><td>Old Dominion 12</td><td>Frank</td></tr>
<tr><td>Pacific 8</td><td>Dave D</td></tr>
<tr><td>Penn 13</td><td>Frank</td></tr>
<tr><td>Pittsburgh 9</td><td>Dave D</td></tr>
<tr><td>SE Louisiana 15</td><td>Mike S</td></tr>
<tr><td>Southern Illinois 7</td><td>Mike S</td></tr>
<tr><td>St. Mary's 10</td><td>Paul</td></tr>
<tr><td>Stanford 8</td><td>Warren</td></tr>
<tr><td>Syracuse 4</td><td>Warren</td></tr>
<tr><td>Texas 8</td><td>Mark H</td></tr>
<tr><td>Texas Tech 6</td><td>Mark D</td></tr>
<tr><td>UAB 11</td><td>Warren</td></tr>
<tr><td>UCLA 11</td><td>Mike S</td></tr>
<tr><td>UTEP 11</td><td>Dave D</td></tr>
<tr><td>UW-Milwaukee 12</td><td>Mark H</td></tr>
<tr><td>Utah 6</td><td>Mike S</td></tr>
<tr><td>Utah St. 14</td><td>Mike S</td></tr>
<tr><td>Vermont 13</td><td>Ike</td></tr>
<tr><td>Villanova 5</td><td>Paul</td></tr>
<tr><td>Wake Forest 2</td><td>Ike</td></tr>
<tr><td>Washington 1</td><td>Mike S</td></tr>
<tr><td>West Virginia 7</td><td>Frank</td></tr>
<tr><td>Winthrop 14</td><td>Mark D</td></tr>
<tr><td>Wisconsin 6</td><td>Warren</td></tr>
</table>
</td>
</tr></table>
</CENTER>

<HR>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

