<HTML>
<head>
<title>21st-Century NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

<BR>

<table width=100% border=0>
<tr valign=top>
<td width=15%>
{% include nfl_results.html %}
</td>

<td align=center>

<H1>21st-Century NFL Pool Results</H1>

(January 1, 2001 to December 31, 2017)<br>
Cells highlighted in green indicate leaders in the corresponding categories.<br>
In some categories, a player must have entered the pool a minimum of 50 times in
order to qualify as a leader.

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=1>
<TR ALIGN="CENTER" VALIGN="BOTTOM">
<TD><b><a  name="RANGE!A1:H43">Player</a></b></TD>
<TD><b>Net<BR>Total</b></TD>
<TD><b>Pots<BR>Won</b></TD>
<TD><b>Weeks<BR>Entered<BR>(out of 288)</b></TD>
<TD><b>Winnings/<br>Entries<br>Ratio</b></TD>
<TD><b>Pots/<br>Entries<br>Ratio</b></TD>
<TD colspan=2 colspan=2><b>Total Winning<BR>Picks</b></TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Amy C</TD>
<TD align="RIGHT"><font color="GREEN">+$5.00</font></TD>
<TD>4</TD>
<TD>66</TD>
<TD align="RIGHT"><font color="GREEN">+$0.08</font></TD>
<TD align="RIGHT">6.1%</TD>
<TD>620 / 978</TD>
<TD align="RIGHT">63.4%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Amy E</TD>
<TD align="RIGHT"><font color="GREEN">+$135.00</font></TD>
<TD>4</TD>
<TD>49</TD>
<TD align="RIGHT"><font color="GREEN">+$2.76</font></TD>
<TD align="RIGHT">8.2%</TD>
<TD>456 / 738</TD>
<TD align="RIGHT">61.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Bill C</TD>
<TD align="RIGHT"><font color="GREEN">+$80.00</font></TD>
<TD>3</TD>
<TD>39</TD>
<TD align="RIGHT"><font color="GREEN">+$2.05</font></TD>
<TD align="RIGHT">7.7%</TD>
<TD>356 / 584</TD>
<TD align="RIGHT">61.0%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Bill L</TD>
<TD align="RIGHT"><font color="GREEN">+$300.00</font></TD>
<TD>14</TD>
<TD>182</TD>
<TD align="RIGHT"><font color="GREEN">+$1.65</font></TD>
<TD align="RIGHT">7.7%</TD>
<TD>1730 / 2712</TD>
<TD align="RIGHT">63.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Caitlin</TD>
<TD align="RIGHT"><font color="GREEN">+$35.00</font></TD>
<TD>2</TD>
<TD>30</TD>
<TD align="RIGHT"><font color="GREEN">+$1.17</font></TD>
<TD align="RIGHT">6.7%</TD>
<TD>271 / 447</TD>
<TD align="RIGHT">60.6%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Chris</TD>
<TD align="RIGHT"><font color="RED">-$315.00</font></TD>
<TD>1</TD>
<TD>84</TD>
<TD align="RIGHT"><font color="RED">-$3.75</font></TD>
<TD align="RIGHT">1.2%</TD>
<TD>802 / 1262</TD>
<TD align="RIGHT">63.5%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Con</TD>
<TD align="RIGHT"><font color="RED">-$25.00</font></TD>
<TD>0</TD>
<TD>5</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>47 / 80</TD>
<TD align="RIGHT">58.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Dave D</TD>
<TD align="RIGHT"><font color="RED">-$120.00</font></TD>
<TD>15&#189</TD>
<TD>254</TD>
<TD align="RIGHT"><font color="RED">-$0.47</font></TD>
<TD align="RIGHT">6.1%</TD>
<TD>2375 / 3801</TD>
<TD align="RIGHT">62.5%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Elle</TD>
<TD align="RIGHT"><font  color="BLACK">$0.00</font></TD>
<TD>3&#189</TD>
<TD>61</TD>
<TD align="RIGHT"><font  color="BLACK">$0.00</font></TD>
<TD align="RIGHT">5.7%</TD>
<TD>596 / 907</TD>
<TD align="RIGHT">65.7%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Erin</TD>
<TD align="RIGHT"><font color="RED">-$60.00</font></TD>
<TD>0</TD>
<TD>12</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>121 / 179</TD>
<TD align="RIGHT">67.6%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Frank F</TD>
<TD align="RIGHT"><font color="GREEN">+$182.50</font></TD>
<TD>19&#189</TD>
<TD>273</TD>
<TD align="RIGHT"><font color="GREEN">+$0.67</font></TD>
<TD align="RIGHT">7.1%</TD>
<TD>2545 / 4084</TD>
<TD align="RIGHT">62.3%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Frank M</TD>
<TD align="RIGHT"><font color="RED">-$10.00</font></TD>
<TD>0</TD>
<TD>2</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>16 / 28</TD>
<TD align="RIGHT">57.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Glen</TD>
<TD align="RIGHT"><font color="GREEN">+$5.00</font></TD>
<TD>4</TD>
<TD>74</TD>
<TD align="RIGHT"><font color="GREEN">+$0.07</font></TD>
<TD align="RIGHT">5.4%</TD>
<TD>722 / 1116</TD>
<TD align="RIGHT">64.7%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Grace</TD>
<TD align="RIGHT"><font color="RED">-$95.00</font></TD>
<TD>3</TD>
<TD>80</TD>
<TD align="RIGHT"><font color="RED">-$1.19</font></TD>
<TD align="RIGHT">3.8%</TD>
<TD>690 / 1205</TD>
<TD align="RIGHT">57.3%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Jason</TD>
<TD align="RIGHT"><font color="RED">-$245.00</font></TD>
<TD>0</TD>
<TD>49</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>419 / 738</TD>
<TD align="RIGHT">56.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Jerry</TD>
<TD align="RIGHT"><font color="GREEN">+$25.00</font></TD>
<TD>3</TD>
<TD>48</TD>
<TD align="RIGHT"><font color="GREEN">+$0.52</font></TD>
<TD align="RIGHT">6.3%</TD>
<TD>456 / 718</TD>
<TD align="RIGHT">63.5%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>John K</TD>
<TD align="RIGHT"><font color="RED">-$35.00</font></TD>
<TD>0</TD>
<TD>7</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>63 / 101</TD>
<TD align="RIGHT">62.4%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Ken</TD>
<TD align="RIGHT"><font color="GREEN">+$125.00</font></TD>
<TD>9</TD>
<TD>132</TD>
<TD align="RIGHT"><font color="GREEN">+$0.95</font></TD>
<TD align="RIGHT">6.8%</TD>
<TD>1301 / 1968</TD>
<TD align="RIGHT">66.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Larry</TD>
<TD align="RIGHT"><font color="RED">-$75.00</font></TD>
<TD>0</TD>
<TD>15</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>142 / 225</TD>
<TD align="RIGHT">63.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Lynn</TD>
<TD align="RIGHT"><font color="GREEN">+$5.83</font></TD>
<TD>16&#8538</TD>
<TD>265</TD>
<TD align="RIGHT"><font color="GREEN">+$0.02</font></TD>
<TD align="RIGHT">6.4%</TD>
<TD>2464 / 3969</TD>
<TD align="RIGHT">62.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Mark D</TD>
<TD align="RIGHT"><font color="GREEN">+$185.00</font></TD>
<TD>22</TD>
<TD bgcolor="#D7FFD7"><b>288</TD>
<TD align="RIGHT"><font color="GREEN">+$0.64</font></TD>
<TD align="RIGHT">7.6%</TD>
<TD bgcolor="#D7FFD7"><b>2855 / 4310</TD>
<TD bgcolor="#D7FFD7" align="RIGHT"><b>66.2%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Mark H</TD>
<TD align="RIGHT"><font color="RED">-$12.50</font></TD>
<TD>12</TD>
<TD>202</TD>
<TD align="RIGHT"><font color="RED">-$0.06</font></TD>
<TD align="RIGHT">5.9%</TD>
<TD>1842 / 3003</TD>
<TD align="RIGHT">61.3%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Mary</TD>
<TD bgcolor="#D7FFD7" align="RIGHT"><b><font color="GREEN">+$840.00</font></TD>
<TD bgcolor="#D7FFD7"27><b>27</TD>
<TD>278</TD>
<TD bgcolor="#D7FFD7" align="RIGHT"><b><font color="GREEN">+$3.02</font></TD>
<TD bgcolor="#D7FFD7" align="RIGHT"><b>9.7%</TD>
<TD>2643 / 4158</TD>
<TD align="RIGHT">63.6%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Michael F</TD>
<TD align="RIGHT"><font color="RED">-$470.00</font></TD>
<TD>6&#189</TD>
<TD>196</TD>
<TD align="RIGHT"><font color="RED">-$2.40</font></TD>
<TD align="RIGHT">3.3%</TD>
<TD>1926 / 2934</TD>
<TD align="RIGHT">65.6%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Mike C</TD>
<TD align="RIGHT"><font color="RED">-$86.67</font></TD>
<TD>1&#8531</TD>
<TD>34</TD>
<TD align="RIGHT"><font color="RED">-$2.55</font></TD>
<TD align="RIGHT">3.9%</TD>
<TD>295 / 501</TD>
<TD align="RIGHT">58.9%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Mike J</TD>
<TD align="RIGHT"><font color="GREEN">+$290.00</font></TD>
<TD>21&#189</TD>
<TD>259</TD>
<TD align="RIGHT"><font color="GREEN">+$1.12</font></TD>
<TD align="RIGHT">8.3%</TD>
<TD>2522 / 3871</TD>
<TD align="RIGHT">65.2%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD rowspan=2>Mike S</TD>
<TD rowspan=2 align="RIGHT"><font color="GREEN">+$48.33</font></TD>
<TD>19&#8531</TD>
<TD>279</TD>
<TD rowspan=2 align="RIGHT"><font color="GREEN">+$0.15</font></TD>
<TD rowspan=2 align="RIGHT">6.8%</TD>
<TD>2618 / 4172</TD>
<TD rowspan=2 align="RIGHT">62.4%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>2</TD>
<TD>33</TD>
<TD>297 / 496</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Minerva</TD>
<TD align="RIGHT"><font color="GREEN">+$105.00</font></TD>
<TD>3</TD>
<TD>13</TD>
<TD align="RIGHT"><font color="GREEN">+$8.08</font></TD>
<TD align="RIGHT">23.1%</TD>
<TD>118 / 193</TD>
<TD align="RIGHT">61.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Nick H</TD>
<TD align="RIGHT"><font color="GREEN">+$115.00</font></TD>
<TD>5</TD>
<TD>68</TD>
<TD align="RIGHT"><font color="GREEN">+$1.69</font></TD>
<TD align="RIGHT">7.4%</TD>
<TD>640 / 1021</TD>
<TD align="RIGHT">62.7%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Nick Lo.</TD>
<TD align="RIGHT"><font color="RED">-$150.00</font></TD>
<TD>3</TD>
<TD>83</TD>
<TD align="RIGHT"><font color="RED">-$1.81</font></TD>
<TD align="RIGHT">3.6%</TD>
<TD>780 / 1246</TD>
<TD align="RIGHT">62.6%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Nick Lu.</TD>
<TD align="RIGHT"><font color="RED">-$95.00</font></TD>
<TD>0</TD>
<TD>19</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>172 / 290</TD>
<TD align="RIGHT">59.3%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Norb</TD>
<TD align="RIGHT"><font color="RED">-$95.00</font></TD>
<TD>1</TD>
<TD>34</TD>
<TD align="RIGHT"><font color="RED">-$2.79</font></TD>
<TD align="RIGHT">2.9%</TD>
<TD>325 / 512</TD>
<TD align="RIGHT">63.5%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Paul</TD>
<TD align="RIGHT"><font color="RED">-$137.50</font></TD>
<TD>14&#189</TD>
<TD>228</TD>
<TD align="RIGHT"><font color="RED">-$0.60</font></TD>
<TD align="RIGHT">6.4%</TD>
<TD>2055 / 3404</TD>
<TD align="RIGHT">60.4%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Pete</TD>
<TD align="RIGHT"><font color="RED">-$140.00</font></TD>
<TD>9</TD>
<TD>182</TD>
<TD align="RIGHT"><font color="RED">-$0.77</font></TD>
<TD align="RIGHT">4.9%</TD>
<TD>1746 / 2719</TD>
<TD align="RIGHT">64.2%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Phil</TD>
<TD align="RIGHT"><font color="RED">-$135.00</font></TD>
<TD>&#189</TD>
<TD>34</TD>
<TD align="RIGHT"><font color="RED">-$3.97</font></TD>
<TD align="RIGHT">1.5%</TD>
<TD>340 / 517</TD>
<TD align="RIGHT">65.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Ruby</TD>
<TD align="RIGHT"><font color="GREEN">+$30.00</font></TD>
<TD>5</TD>
<TD>98</TD>
<TD align="RIGHT"><font color="GREEN">+$0.31</font></TD>
<TD align="RIGHT">5.1%</TD>
<TD>856 / 1474</TD>
<TD align="RIGHT">58.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Sana</TD>
<TD align="RIGHT"><font color="RED">-$10.00</font></TD>
<TD>3</TD>
<TD>52</TD>
<TD align="RIGHT"><font color="RED">-$0.19</font></TD>
<TD align="RIGHT">5.8%</TD>
<TD>448 / 771</TD>
<TD align="RIGHT">58.1%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Sherry</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD>0</TD>
<TD>1</TD>
<TD align="RIGHT"><font color="RED">-$5.00</font></TD>
<TD align="RIGHT">0.0%</TD>
<TD>11 / 16</TD>
<TD align="RIGHT">68.8%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Sue</TD>
<TD align="RIGHT"><font color="RED">-$122.50</font></TD>
<TD>13&#189</TD>
<TD>235</TD>
<TD align="RIGHT"><font color="RED">-$0.52</font></TD>
<TD align="RIGHT">5.7%</TD>
<TD>2203 / 3523</TD>
<TD align="RIGHT">62.5%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Tommy</TD>
<TD align="RIGHT"><font color="RED">-$227.50</font></TD>
<TD>1&#189</TD>
<TD>75</TD>
<TD align="RIGHT"><font color="RED">-$3.03</font></TD>
<TD align="RIGHT">2.0%</TD>
<TD>694 / 1125</TD>
<TD align="RIGHT">61.7%</TD>
<TR ALIGN="CENTER" VALIGN="MIDDLE">
<TD>Warren</TD>
<TD align="RIGHT"><font color="GREEN">+$155.00</font></TD>
<TD>15</TD>
<TD>194</TD>
<TD align="RIGHT"><font color="GREEN">+$0.80</font></TD>
<TD align="RIGHT">7.7%</TD>
<TD>1820 / 2898</TD>
<TD align="RIGHT">62.8%</TD>
</TABLE>

</td>

<td width=15%>&nbsp;</td>

</tr>
</table>

<br>
<b>Winnings/Entries Ratio</b> shows how much on average a player won/lost each time he/she entered the pool.
<p>
<b>Pots/Entries Ratio</b> shows how often a player won a pot.  For example, Minerva won a pot 23.1% of the times she entered the pool.
<p>
<b>Total Winning Picks</b> shows how many of a player's picks were winners.  For example, Norb picked 325 winning teams out of a possible 512.  His winning percentage was 63.5%.
<p>
NFL games that ended in ties are not included.
<p>
The pool for Week 7 of the 2002 season was canceled due to computer failure.
<p>
Some of the data from Week 8 of the 2010 season were lost.  The <b>Total Winning Picks</b> column does not include data for that week; however, all other columns do.
<p>
Mike S has two entries for some columns because on some weeks he entered the pool twice.

</CENTER>

<hr>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

