---
---
<HTML>
<head>
<style type="text/css">
   td.reg-right         {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 0px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg               {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg-bottom        {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg-right-bottom  {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.heading           {text-align: center; font: bold 50px arial; line-height:40px}
   td.digit             {text-align: center; font: bold 30px arial; line-height:30px}
   td.digit-top         {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px}
   td.digit-top-right   {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px}
   td.digit-left        {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px}
   td.digit-left-bottom {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px}
   p.directions         {width:684px}
</style>
<title>2009 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>


<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2009 NFL Pool Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"> <TH>Player</TH>    <TH>Net<BR>Total</TH>                                                    <TH>Pots<BR>Won</TH>                                                                   <TH>Weeks<BR>Entered</TH>        <TH colspan=2>Total Winning<BR>Picks*<BR>(out of<BR>256 games)</TH></TR>
<TR ALIGN="CENTER">  <TD>Bill L</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                        <TD>1</td>                                                                             <td>16</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Dave D</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                        <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>172</TD>                      <TD>(67.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Elle</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$40.00</TD>                         <TD>0<small><sup>1</sup></small>/<small><sub>2</sub></small></td>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>168</TD>                      <TD>(65.6%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Frank F</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>165</TD>                      <TD>(64.5%)</TD></TR>
<TR ALIGN="CENTER">  <TD>John K</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$35.00</TD>                         <TD>0</td>                                                                             <td>7</TD>                       <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Ken</TD>       <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>172</TD>                      <TD>(67.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Lynn</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$75.00</TD>                       <TD>2</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD bgcolor="#D7FFD7"><b>184</TD> <TD bgcolor="#D7FFD7"><b>(71.9%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark D</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$80.00</TD>                       <TD>2</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>179</TD>                      <TD>(69.9%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark H</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$75.00</TD>                         <TD>0</td>                                                                             <td>15</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Mary</TD>      <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$175.00</TD> <TD bgcolor="#D7FFD7"><b>3</td>                                                        <td bgcolor="#D7FFD7"><b>17</TD> <TD>175</TD>                      <TD>(68.4%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Michael F</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$40.00</TD>                         <TD>0<small><sup>1</sup></small>/<small><sub>2</sub></small></td>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>173</TD>                      <TD>(67.6%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mike J</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$80.00</TD>                         <TD>0</td>                                                                             <td>16</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Mike S</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                        <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>170</TD>                      <TD>(66.4%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Paul</TD>      <TD ALIGN="RIGHT"><FONT COLOR="BLACK">$0.00</TD>                         <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>162</TD>                      <TD>(63.3%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Pete</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                        <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>174</TD>                      <TD>(68.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Sana</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$90.00</TD>                       <TD>2</td>                                                                             <td>16</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Sue</TD>       <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>171</TD>                      <TD>(66.8%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Warren</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$85.00</TD>                       <TD>2</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>170</TD>                      <TD>(66.4%)</TD></TR>
</TABLE>

</center>
</td>
<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>


* - Only players who entered every week.

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>                               <TH>Winner</TH>               <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>            <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_01.html">Week 1</A></TD>  <TD>Michael F<br>Elle</TD>    <TD>14 out of 16</TD>                      <TD>-4</TD>                        <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_02.html">Week 2</A></TD>  <TD>Pete</TD>                 <TD>12 out of 16</TD>                      <TD>-10</TD>                       <TD bgcolor="#D7FFD7"><b>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_03.html">Week 3</A></TD>  <TD>Mary</TD>                 <TD>13 out of 16</TD>                      <TD>-10</TD>                       <TD bgcolor="#D7FFD7"><b>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_04.html">Week 4</A></TD>  <TD>Mike S</TD>               <TD bgcolor="#D7FFD7"><b>13 out of 14</TD> <TD>-14</TD>                       <TD bgcolor="#D7FFD7"><b>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_05.html">Week 5</A></TD>  <TD>Warren</TD>               <TD>11 out of 14</TD>                      <TD>-6</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_06.html">Week 6</A></TD>  <TD>Bill L</TD>                 <TD>9 out of 14</TD>                       <TD bgcolor="#D7FFD7"><b>-0</TD>   <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_07.html">Week 7</A></TD>  <TD>Paul</TD>                 <TD>12 out of 13</TD>                      <TD>-7</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_08.html">Week 8</A></TD>  <TD>Sana</TD>                 <TD>11 out of 13</TD>                      <TD>-15</TD>                       <TD bgcolor="#D7FFD7"><b>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_09.html">Week 9</A></TD>  <TD>Dave D</TD>                 <TD>11 out of 13</TD>                      <TD>-11</TD>                       <TD bgcolor="#D7FFD7"><b>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_10.html">Week 10</A></TD> <TD>Mary</TD>                 <TD>12 out of 15</TD>                      <TD>-22</TD>                       <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_11.html">Week 11</A></TD> <TD>Mary</TD>                 <TD>13 out of 16</TD>                      <TD>-1</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_12.html">Week 12</A></TD> <TD>Mark D</TD>               <TD>14 out of 16</TD>                      <TD>-1</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_13.html">Week 13</A></TD> <TD>Warren</TD>               <TD>13 out of 16</TD>                      <TD>-2</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_14.html">Week 14</A></TD> <TD>Sana</TD>                 <TD>14 out of 16</TD>                      <TD>-14</TD>                       <TD>$80.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_15.html">Week 15</A></TD> <TD>Lynn</TD>                 <TD>11 out of 16</TD>                      <TD>-19</TD>                       <TD>$80.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_16.html">Week 16</A></TD> <TD>Lynn</TD>                 <TD>12 out of 16</TD>                      <TD>-24</TD>                       <TD>$80.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl09_17.html">Week 17</A></TD> <TD>Mark D</TD>               <TD>14 out of 16</TD>                      <TD>-2</TD>                        <TD>$80.00</TD></TR>
</TABLE>

<br><br>

</CENTER>

<hr>

</BODY>
</HTML>

