---
---
<HTML>
<head>
<style type="text/css">
   td.reg-right         {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 0px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg               {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg-bottom        {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.reg-right-bottom  {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px; text-align: center; font: 12px arial; height:70px; width:70px}
   td.heading           {text-align: center; font: bold 50px arial; line-height:40px}
   td.digit             {text-align: center; font: bold 30px arial; line-height:30px}
   td.digit-top         {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px}
   td.digit-top-right   {border: solid rgb(0,0,0); border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px}
   td.digit-left        {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px}
   td.digit-left-bottom {border: solid rgb(0,0,0); border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px}
   p.directions         {width:684px}
</style>
<title>2016 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>

<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2016 NFL Pool Results</H1>


<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"> <TH>Player</TH>    <TH>Net<BR>Total</TH>                                                    <TH>Pots<BR>Won</TH>             <TH>Weeks<BR>Entered</TH>        <TH colspan=2>Total Winning<BR>Picks<BR>(out of<BR>254 games)*</TH></TR>
<TR ALIGN="CENTER">  <TD>Bill C</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$35.00</TD>                       <TD>1</td>                       <td>13</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Bill L</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$75.00</TD>                         <TD>0</td>                       <td>15</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Caitlin</TD>   <TD ALIGN="RIGHT"><FONT COLOR="RED">-$65.00</TD>                         <TD>0</td>                       <td>13</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Chris</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>163</TD>                      <TD>(64.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Dave D</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$75.00</TD>                         <TD>0</td>                       <td>15</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Frank</TD>     <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$195.00</TD> <TD bgcolor="#D7FFD7"><b>3</td>  <td>16</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Glen</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$110.00</TD>                      <TD>2</td>                       <td>16</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Grace</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>148</TD>                      <TD>(58.3%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Jerry</TD>     <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$20.00</TD>                       <TD>1</td>                       <td>15</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Lynn</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>150</TD>                      <TD>(59.1%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark D</TD>    <TD ALIGN="RIGHT"><FONT COLOR="BLACK">$0.00</TD>                         <TD>1</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>165</TD>                      <TD>(65.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mary</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$15.00</TD>                       <TD>1</td>                       <td>16</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Mike J</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$65.00</TD>                         <TD>0</td>                       <td>13</TD>                      <TD colspan=2>&nbsp;</TD>
<TR ALIGN="CENTER">  <TD>Mike S</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$90.00</TD>                       <TD>2</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD bgcolor="#D7FFD7"><b>167</TD> <TD bgcolor="#D7FFD7"><b>(65.7%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Nick H</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                         <TD>0</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>152</TD>                      <TD>(59.8%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Nick Lo.</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$105.00</TD>                      <TD>2</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>158</TD>                      <TD>(62.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Pete</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$10.00</TD>                       <TD>1</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>155</TD>                      <TD>(61.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Ruby</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                        <TD>1</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD>155</TD>                      <TD>(61.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Sue</TD>       <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$95.00</TD>                       <TD>2</td>                       <td bgcolor="#D7FFD7"><b>17</TD> <TD bgcolor="#D7FFD7"><b>167</TD> <TD bgcolor="#D7FFD7"><b>(65.7%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Tommy</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$60.00</TD>                         <TD>0</td>                       <td>12</TD>                      <TD colspan=2>&nbsp;</TD>
</TABLE>
* - Only players who entered every week. NFL games that ended in ties are not included.

</center>
</td>


<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>   <TH>Winner</TH>    <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>            <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD>Week 1</TD>  <TD>Ruby</TD>      <TD>12 out of 16</TD>                      <TD>-2</TD>                        <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 2</TD>  <TD>Mike S</TD>    <TD>12 out of 16</TD>                      <TD>-2</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 3</TD>  <TD>Frank</TD>     <TD>10 out of 16</TD>                      <TD>-25</TD>                       <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 4</TD>  <TD>Mike S</TD>    <TD>10 out of 15</TD>                      <TD>-5</TD>                        <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 5</TD>  <TD>Frank</TD>     <TD>11 out of 14</TD>                      <TD>-40</TD>                       <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 6</TD>  <TD>Nick Lo.</TD>  <TD>11 out of 15</TD>                      <TD>-13</TD>                       <TD bgcolor="#D7FFD7"><b>$100.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 7</TD>  <TD>Nick Lo.</TD>  <TD>9 out of 14</TD>                       <TD bgcolor="#D7FFD7"><b>-1</TD>   <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 8</TD>  <TD>Sue</TD>       <TD>10 out of 12</TD>                      <TD>-7</TD>                        <TD>$85.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 9</TD>  <TD>Mary</TD>      <TD>11 out of 13</TD>                      <TD>-19</TD>                       <TD>$95.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 10</TD> <TD>Frank</TD>     <TD>10 out of 14</TD>                      <TD>-29</TD>                       <TD bgcolor="#D7FFD7"><b>$100.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 11</TD> <TD>Glen</TD>      <TD>12 out of 14</TD>                      <TD bgcolor="#D7FFD7"><b>-1</TD>   <TD bgcolor="#D7FFD7"><b>$100.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 12</TD> <TD>Glen</TD>      <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-8</TD>                        <TD>$90.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 13</TD> <TD>Bill C</TD>    <TD>13 out of 15</TD>                      <TD>-2</TD>                        <TD bgcolor="#D7FFD7"><b>$100.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 14</TD> <TD>Jerry</TD>     <TD>13 out of 16</TD>                      <TD>-12</TD>                       <TD>$95.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 15</TD> <TD>Pete</TD>      <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-14</TD>                       <TD>$95.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 16</TD> <TD>Sue</TD>       <TD>12 out of 16</TD>                      <TD>-21</TD>                       <TD>$95.00</TD></TR>
<TR ALIGN="CENTER"><TD>Week 17</TD> <TD>Mark D</TD>    <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-11</TD>                       <TD>$85.00</TD></TR>
</TABLE>

<br><br>
<hr>


</BODY>
</HTML>

