---\n---\n<HTML>
<head>
<title>2004 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>


<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2004 NFL Pool Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"> <TH>Player</TH>    <TH>Net<BR>Total</TH>                                                        <TH>Pots<BR>Won</TH>                                              <TH>Weeks<BR>Entered</TH>            <TH colspan=2>Total Winning<BR>Picks*<BR>(out of<BR>256 games)</TH></TR>
<TR ALIGN="CENTER">  <TD>Con</TD>       <TD ALIGN="RIGHT"><FONT COLOR="RED">-$25.00</TD>                             <TD>0</td>                                                        <td>5</td>                           <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Dave D</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$60.00</TD>                           <TD>2</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD>163</TD>                          <TD>(63.7%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Frank F</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD>151</TD>                          <TD>(59.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Lynn</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$60.00</TD>                           <TD>2</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD>164</TD>                          <TD>(64.1%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark D</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$10.00</TD>                             <TD>1</td>                                                        <td bgcolor="#D7FFD7"><B>17</B></TD> <TD>165</TD>                          <TD>(64.5%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark H</TD>    <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$160.00</B></TD> <TD bgcolor="#D7FFD7"><B>3</B></td>                               <td>15</td>                          <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Mary</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$10.00</TD>                             <TD>1</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD bgcolor="#D7FFD7"><B>167</B></TD> <TD bgcolor="#D7FFD7"><B>(65.2%)</B></TD></TR>
<TR ALIGN="CENTER">  <TD>Michael F</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></TD> <TD>164</TD>                          <TD>(64.1%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mike J</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$45.00</TD>                           <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td>13</td>                          <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD ROWSPAN=2>Mike S</TD> <TD ALIGN="RIGHT" ROWSPAN=2><FONT COLOR="RED">-$25.00</TD>            <TD>1</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD>157</TD>                          <TD>(61.3%)</TD></TR>
<TR ALIGN="CENTER">                                                                                                  <TD>1</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></TD> <TD>149</TD>                          <TD>(58.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Norb</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></TD> <TD>155</TD>                          <TD>(60.5%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Paul</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></TD> <TD>152</TD>                          <TD>(59.4%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Ruby</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                        <td bgcolor="#D7FFD7"><b>17</b></td> <TD>155</TD>                          <TD>(60.5%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Sue</TD>       <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$20.00</TD>                           <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td bgcolor="#D7FFD7"><b>17</b></td> <TD>157</TD>                          <TD>(61.3%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Warren</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$150.00</TD>                          <TD bgcolor="#D7FFD7"><B>3</B></td>                               <td>15</td>                          <TD COLSPAN=2>&nbsp;</TD></TR>
</TABLE>

</center>
</td>
<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>


* - Only players who entered every week.

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>                               <TH>Winner</TH>              <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>          <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_01.html">Week 1</A></TD>  <TD>Mike J</TD>              <TD>11 out of 16</TD>                      <TD bgcolor="#D7FFD7"><b>-0</TD> <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_02.html">Week 2</A></TD>  <TD>Sue<BR>Mike J</TD>       <TD>12 out of 16</TD>                      <TD>-1</TD>                      <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_03.html">Week 3</A></TD>  <TD>Sue</TD>                 <TD>11 out of 14</TD>                      <TD>-1</TD>                      <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_04.html">Week 4</A></TD>  <TD>Dave D</TD>                <TD>9 out of 14</TD>                       <TD>-6</TD>                      <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_05.html">Week 5</A></TD>  <TD>Warren</TD>              <TD>11 out of 14</TD>                      <TD>-28</TD>                     <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_06.html">Week 6</A></TD>  <TD>Lynn</TD>                <TD>12 out of 14</TD>                      <TD>-7</TD>                      <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_07.html">Week 7</A></TD>  <TD>Mary</TD>                <TD>10 out of 14</TD>                      <TD>-4</TD>                      <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_08.html">Week 8</A></TD>  <TD>Mark H</TD>              <TD>10 out of 14</TD>                      <TD>-7</TD>                      <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_09.html">Week 9</A></TD>  <TD>Mike S 1</TD>            <TD>9 out of 14</TD>                       <TD>-11</TD>                     <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_10.html">Week 10</A></TD> <TD>Warren</TD>              <TD>10 out of 14</TD>                      <TD>-23</TD>                     <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_11.html">Week 11</A></TD> <TD>Lynn</TD>                <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-4</TD>                      <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_12.html">Week 12</A></TD> <TD>Mike S 2</TD>            <TD>13 out of 16</TD>                      <TD>-15</TD>                     <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_13.html">Week 13</A></TD> <TD>Mark H</TD>              <TD>12 out of 16</TD>                      <TD>-33</TD>                     <TD bgcolor="#D7FFD7"><b>$80.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_14.html">Week 14</A></TD> <TD>Mark H</TD>              <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-35</TD>                     <TD bgcolor="#D7FFD7"><b>$80.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_15.html">Week 15</A></TD> <TD>Warren</TD>              <TD>11 out of 16</TD>                      <TD>-5</TD>                      <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_16.html">Week 16</A></TD> <TD>Mark D</TD>              <TD>12 out of 16</TD>                      <TD>-20</TD>                     <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl04_17.html">Week 17</A></TD> <TD>Dave D</TD>                <TD>10 out of 16</TD>                      <TD>-6</TD>                      <TD>$75.00</TD></TR>
</TABLE>

</CENTER>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

