<script language="javascript">

window.onload=countdown;

//my thanks to javascripts.com! ramon_suter@hotmail.com
//weekly countdown

//td holds the day (in GMT) of the next Card Night.
//For a recurring Card Night, td will hold the day of the week (e.g., 3 for
//Wednesday (Tuesday PT).
//For a specific Card Night, td will hold the day of the month (again, in GMT)

td = 3;

//th holds the hour (in GMT) of the next Card Night.
//For 7:00 p.m. PST, th will be 3 (GMT 0300)
//For 7:00 p.m. PDT, th will be 2 (GMT 0200)

th = 3;

tm = 0;
ts = 0;
function countdown() {
   nd=0;              2
   nh=0;
   nm=0;
   ns=0;
   local = new Date();
   ms = local.getTime() + (local.getTimezoneOffset() * 60000)
   n = new Date(ms);

   ns = ns + ts - n.getSeconds();
   if (ns < 0) {
      ns = 60 + ns;
      nm = -1;
   }
   t.s.value = ns;
   if (ns == 1) {
      t.ss.value = "second";
   }
   else {
      t.ss.value = "seconds";
   }

   nm = nm + tm - n.getMinutes();
   if (nm < 0) {
      nm = 60 + nm;
      nh = -1;
   }
   t.m.value = nm;
   if (nm == 1) {
      t.mm.value = "minute";
   }
   else {
      t.mm.value = "minutes";
   }

   nh = nh + th - n.getHours();
   if (nh < 0) {
      nh = 24 + nh;
      nd = -1;
   }
   t.h.value = nh;
   if (nh == 1) {
      t.hh.value = "hour";
   }
   else {
      t.hh.value = "hours";
   }

//In the case of a recurring Card Night:
//   nd = nd + td - n.getDay();
//In the case of a specific Card Night:
//   nd = nd + td - n.getDate();

   nd = nd + td - n.getDay();

   if(nd < 0) {
//In the case of a recurring Card Night, we'll just add 7 days:
//      nd = nd + 7;
//In the case of a specific Card Night, we'll add the number of days in the
//month prior to the Card Night:
//      nd = nd + 30;

      nd = nd + 7;

   }
   t.d.value = nd;
   if (nd == 1) {
      t.dd.value = "day";
   }
   else {
      t.dd.value = "days";
   }

   setTimeout("countdown()",1000);
}
</script>

<script language=javascript>
<!--//

//Enter the amount of quotes you are using.
var quotnum = "44";

//In between the " "; enter in your message. Remember not to use double
//quote (") in your message. You may use a single quote (').

var sds = new Array(1000);
sds[0]="In a high-low declare game, you don't need 8-high or lower to win low.";
sds[1]="<a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> has won the most <a href=http://cardnight.tripod.com/jackpot.html><font color=white>jackpot money</font></a>.";
sds[2]="A <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a>-winning hand cannot contain a wild card, other than as a kicker for a four-of-a-kind.";
sds[3]="<a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> has won the most money at Card Night.";
sds[4]="<a href=http://cardnight.tripod.com/chris.html><font color=white>Chris</font></a> and <a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> hold the record for <a href=http://cardnight.tripod.com/streak.html><font color=white>most consecutive Card Night wins</font></a> (13).";
sds[5]="A pair of aces beats a pair of deuces in a low game.";
sds[6]="Card Night used to be held regularly at <a href=http://cardnight.tripod.com/warren.html><font color=white>Warren's</font></a> house.";
sds[7]="<a href=http://cardnight.tripod.com/david_d.html><font color=white>David D</font></a> holds the record for biggest <a href=http://cardnight.tripod.com/best_worst.html><font color=white>single-Card Night win</font></a> ($434.00).";
sds[8]="More than one player can win <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> on the same hand (and it has happened before).";
sds[9]="In <a href=http://cardnight.tripod.com/poker_games.html#buckem><font color=white>Buck 'em</font></a>, the joker is wild for low.  For high it can be used as an ace or to complete a straight, flush, or straight flush.";
sds[10]="<a href=http://cardnight.tripod.com/mary.html><font color=white>Mary</font></a> was the first woman to <a href=http://cardnight.tripod.com/attendance.html><font color=white>attend Card Night</font></a>.";
sds[11]="<a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> has <a href=http://cardnight.tripod.com/attendance.html><font color=white>attended the most Card Nights</font></a>.";
sds[12]="Money over an even dollar amount is taken out of <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> at the end of the night and added to the <a href=http://cardnight.tripod.com/poker_games.html#showdown><font color=white>showdown</font></a> pot.";
sds[13]="In unstructured games, you can raise for less than the previous bet or raise.";
sds[14]="In <a href=http://cardnight.tripod.com/poker_games.html#sevencardstud><font color=white>Seven-Card Stud</font></a>, when players each have two cards showing, players may bet or raise twice the normal amount if <i>anyone</i> has a pair showing.";
sds[15]="The player making the mandatory bring-in bet may complete.";
sds[16]="A player doesn't need an ace in his hand to draw four cards in <a href=http://cardnight.tripod.com/poker_games.html#fivecarddraw><font color=white>Five-Card Draw</font></a>.  They even draw <i>five</i> cards if they want.";
sds[17]="A player wins <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> in <a href=http://cardnight.tripod.com/poker_games.html#727><font color=white>7-27</font></a> when they have both 7 and 27 (e.g., A-A-5, A-A-3-2, etc.).";
sds[18]="A player wins <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> in <a href=http://cardnight.tripod.com/poker_games.html#blackjack><font color=white>Blackjack</font></a> when they have 6-7-8 suited or 7-7-7.";
sds[19]="All the Card Night regulars made a <a href=http://cardnight.tripod.com/vegas_2001.html><font color=white>trip to Las Vegas in 2001</font></a>.";
sds[20]="Although we only have records going back to 2001, Card Night has been going on since the late 1980s.";
sds[21]="<a href=http://cardnight.tripod.com/paul_h.html><font color=white>Paul H</font></a> and <a href=http://cardnight.tripod.com/mike_s.html><font color=white>Mike S</font></a> once competed in the Pai-Gow Poker Grudge Match.";
sds[22]="<a href=http://cardnight.tripod.com/ike.html><font color=white>Uncle Ike</font></a> coined the phrase, \"The cheese is in the ointment!\"";
sds[23]="Players used to regularly go out for rolled tacos at the end of Card Night.";
sds[24]="<a href=http://cardnight.tripod.com/paul_h.html><font color=white>Paul H</font></a> once won a hand of <a href=http://cardnight.tripod.com/poker_games.html#fourqueens><font color=white>Four Queens</font></a> with all four queens.";
sds[25]="<a href=http://cardnight.tripod.com/ike.html><font color=white>Uncle Ike</font></a> once won a hand of <a href=http://cardnight.tripod.com/poker_games.html#omaha><font color=white>Omaha</font></a> with all four aces as his hole cards.";
sds[26]="It took <a href=http://cardnight.tripod.com/glen.html><font color=white>Glen</font></a> an entire year of attending Card Night before <a href=http://cardnight.wordpress.com/2009/09/15/card-night-15-sep-2009/><font color=white>he won his first</font></a> <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a>.";
sds[27]="<a href=http://cardnight.tripod.com/bill_c.html><font color=white>Bill C</font></a>, <a href=http://cardnight.tripod.com/jeff.html><font color=white>Jeff</font></a>, <a href=http://cardnight.tripod.com/joe_h.html><font color=white>Joe H</font></a>, and <a href=http://cardnight.tripod.com/joe_z.html><font color=white>Joe Z</font></a> won <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> on the first Card Night each of them attended.";
sds[28]="<a href=http://cardnight.tripod.com/mike_c.html><font color=white>Mike C</font></a> now lives in Las Vegas.";
sds[29]="<a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> once won $1,244.00 over a <a href=http://cardnight.tripod.com/best_worst_10.html><font color=white>period of ten attended Card Nights</font></a>.";
sds[30]="<a href=http://cardnight.tripod.com/mary.html><font color=white>Mary</font></a> missed 259 <a href=http://cardnight.tripod.com/miss.html><font color=white>consecutive Card Nights</font></a> between 2018 and 2025.";
sds[31]="You cannot win <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> on the extra-quarters <a href=http://cardnight.tripod.com/poker_games.html#showdown><font color=white>showdown</font></a> at the end of the night.";
sds[32]="<a href=http://cardnight.tripod.com/mary.html><font color=white>Mary</font></a> only missed one Card Night when she <a href=http://cardnight.wordpress.com/2006/09/06/clare-anne-farrell/><font color=white>gave birth to Clare</font></a>.";
sds[33]="<a href=http://cardnight.tripod.com/mary.html><font color=white>Mary</font></a> has won the most money in the <a href=http://cardnight.tripod.com/cgi-bin/nfl.html><font color=white>Card Night Football Pool</font></a> ($840.00).";
sds[34]="The record for the most <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpots</font></a> paid out at a single Card Night is five.";
sds[35]="The most <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpots</font></a> won by <a href=http://cardnight.tripod.com/jackpot.html><font color=white>a single person at a single Card Night</font></a> is three.  (<a href=http://cardnight.tripod.com/jerry.html><font color=white>Jerry</font></a>, <a href=http://cardnight.tripod.com/mike_s.html><font color=white>Mike S</font></a> and <a href=http://cardnight.tripod.com/paul_h.html><font color=white>Paul H</font></a> have done it.)";
sds[36]="<a href=http://cardnight.tripod.com/paul_h.html><font color=white>Paul H</font></a> briefly had the nickname \"Blog Fodder\".";
sds[37]="<a href=http://cardnight.tripod.com/mike_s.html><font color=white>Mike S</font></a> briefly had the nickname \"Strudelhead\".";
sds[38]="<a href=http://cardnight.tripod.com/bill_l.html><font color=white>Bill L</font></a> won the <a href=http://cardnight.tripod.com/jackpot.html><font color=white>single biggest</font></a> <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a> payout: $148.50.";
sds[39]="There is a <a href=http://cardnight.tripod.com/calendar.html><font color=white>Card Night Calendar of Events</font></a>.";
sds[40]="When you flop three of a kind, it's only called a \"set\" if you have a pocket pair.";
sds[41]="We used to play games with decks containing \"Crazy Ikes\" (cards with <a href=http://cardnight.tripod.com/ike.html><font color=white>Ike</font></a>'s face on them).";
sds[42]="In <a href=http://cardnight.tripod.com/poker_games.html#crazypineapple><font color=white>Crazy Pineapple</font></a>, just as in <a href=http://cardnight.tripod.com/poker_games.html#omaha><font color=white>Omaha</font></a>, a player must have two cards of a four-of-a-kind in the hole in order to win <a href=http://cardnight.tripod.com/poker_games.html#jackpot><font color=white>jackpot</font></a>.";
sds[43]="<a href=http://cardnight.tripod.com/mark_d.html><font color=white>Mark D</font></a> has won the most <a href=http://cardnight.tripod.com/jackpot.html><font color=white>jackpots</font></a>.";
sds[44]="";
sds[45]="";
sds[46]="";
sds[47]="";
sds[48]="";
sds[49]="";
sds[50]="";
sds[51]="";
sds[52]="";
sds[53]="";
sds[54]="";
sds[55]="";
sds[56]="";
sds[57]="";
sds[58]="";
sds[59]="";
sds[60]="";
sds[61]="";
sds[62]="";
sds[63]="";
sds[64]="";
sds[65]="";
sds[66]="";
sds[67]="";
sds[68]="";
sds[69]="";
sds[70]="";
sds[71]="";
sds[72]="";
sds[73]="";
sds[74]="";
sds[75]="";
sds[76]="";
sds[77]="";
sds[78]="";
sds[79]="";
sds[80]="";
sds[81]="";
sds[82]="";
sds[83]="";
sds[84]="";
sds[85]="";
sds[86]="";
sds[87]="";
sds[88]="";
sds[89]="";
sds[90]="";
sds[91]="";
sds[92]="";
sds[93]="";
sds[94]="";
sds[95]="";
sds[96]="";
sds[97]="";
sds[98]="";
sds[99]="";
sds[100]="";


function printDidYouKnow() {
var r = Math.floor(Math.random() * quotnum);
var daquote =sds[r];

 document.write(daquote);
}

//-->
</script>

<style type="text/css">

.r{font-family:arial; font-size:12;}

.s{font-family:arial; font-size:12; border-width:0; text-align:right; color: white; background: #10106B;}

.t{font-family:arial; font-size:12; border-width:0; text-align:left; color: white; background: #10106B;}

#container {
	background: #F4ECD9;
	font: 78%/1.5 arial, helvetica, serif;
	text-align: left;
	margin: 0 auto;
}

#nav, #nav ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: white;
	font-weight: bold;
	padding: 0;
	border: solid #10106B;
	border-width: 0px 0;
	margin: 0 0 1em 0;
}

#nav a {
	display: block;
	color: #10106B;
	text-decoration: none;
	padding: 0.25em 2em;
}

#nav a.daddy {
	background: url(rightarrow2.gif) center right no-repeat;
}

#nav li {
	float: left;
	padding: 0;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	w\idth: 13.9em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
}

#nav li li {
	padding-right: 1em;
	width: 13em
}

#nav li ul a {
	width: 13em;
	w\idth: 9em;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	background: #2ED8EB;
}

#content {
	clear: left;
}

#content a {
	color: #7C6240;
}

#content a:hover {
	text-decoration: none;
}

#scaffolding {
	height: 70px;
	background: white url(/images/header_bg.gif) no-repeat;
	border: solid #eda;
	border-width: 1px 0 0 0;
	margin: 1em 0 0 0;
}

#scaffolding a {
	text-decoration: none;
	text-indent: -999em;
	display: block;
	height: 70px;
	background: url(/images/hdlogo_flip2.gif) no-repeat;
	background-position: 181px 0;
}

#scaffolding a:hover {
	background-position: 181px -70px;
}

</style>

<script type="text/javascript"><!--//--><![CDATA[//><!--

sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

//--><!]]></script>


<table border=0 width=100% bgcolor=#10106B>
    <tr align=left>
        <td><a href="http://cardnight.tripod.com/index.html"><img border=0 src=http://cardnight.tripod.com/logo2.jpg></a></td>
        <td align=right>
            <table border=1><tr>

<!--
            <td align=center valign=middle>
                <font color=white><b><h1>Card Night will be on Monday, June 29, this week!</h1></b>
            </td>
-->

            <td align=center valign=middle>
                <div class="r">
                    <font color=white><font SIZE=+2>Did You Know?</font><BR>
<script type="text/javascript" language="JavaScript"><!--
printDidYouKnow();
//--></script>
                    </FONT></font>
                </div>
            </td>

            <td align=center valign=middle>
                <div class="r">
                   <a href="http://youcanbetonthat.com"><img border=0 SRC="http://cardnight.tripod.com/YouCanBetOnThat.jpg"><br>
                   <font color=white>A podcast for the recreational gambler</font></a>
<!--
                <A HREF="http://www.chargers.com"><img border=0 SRC="http://cardnight.tripod.com/chargers.gif"></A><BR>
                    <font color=white>Chargers&nbsp;Magic&nbsp;Number:<BR><font SIZE=+2></FONT></font>
-->
                </div>
            </td>

            <td>
                <table border=0><tr><td align=center valign=middle>
                    <div class="r">
  					<form name="t">
                    <center><font color=white><b>Card&nbsp;Night&nbsp;starts&nbsp;in:</b></center>
                    <input type="text" size="2" class="s" name="d">&nbsp;<input type="text" size="7" class="t" name="dd"><br>
                    <input type="text" size="2" class="s" name="h">&nbsp;<input type="text" size="7" class="t" name="hh"><br>
                    <input type="text" size="2" class="s" name="m">&nbsp;<input type="text" size="7" class="t" name="mm"><br>
                    <input type="text" size="2" class="s" name="s">&nbsp;<input type="text" size="7" class="t" name="ss">
                    </form>
                    </div>
                </td></tr></table>
            </td></tr></table>
        </td>
    </tr>
</table>

<div id="container">

<ul id="nav">

        <li><a href="http://cardnight.tripod.com/card_night_results.html">Card&nbsp;Night&nbsp;Results</a>
		<ul>
			<li><a href="http://cardnight.tripod.com/card_night_results.html">Latest&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/card_night_results.html#stats">21st&#8209;Century&nbsp;Results</a></li>
			<li>&nbsp;</li>
			<li><a href="http://cardnight.tripod.com/card_night_results.html">2026&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2025.html">2025&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2024.html">2024&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2023.html">2023&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2022.html">2022&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2021.html">2021&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2020.html">2020&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2019.html">2019&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2018.html">2018&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2017.html">2017&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2016.html">2016&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2015.html">2015&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2014.html">2014&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2013.html">2013&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2012.html">2012&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2011.html">2011&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2010.html">2010&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2009.html">2009&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2008.html">2008&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2007.html">2007&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2006.html">2006&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2005.html">2005&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2004.html">2004&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2003.html">2003&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2002.html">2002&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2001.html">2001&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/results_2000.html">2000&nbsp;Results&nbsp;(from November&nbsp;6&nbsp;on)</a></li>
		</ul>
	</li>

	<li><a href="http://cardnight.tripod.com/players.html">Players</a>
      <ul>
         <li><a href="http://cardnight.tripod.com/bill_c.html">Bill C</a></li>
         <li><a href="http://cardnight.tripod.com/bill_l.html">Bill L</a></li>
         <li><a href="http://cardnight.tripod.com/charles.html">Charles</a></li>
         <li><a href="http://cardnight.tripod.com/chris.html">Chris</a></li>
         <li><a href="http://cardnight.tripod.com/dave_han.html">Dave Han.</a></li>
         <li><a href="http://cardnight.tripod.com/dave_ham.html">Dave Ham.</a></li>
         <li><a href="http://cardnight.tripod.com/dave_n.html">Dave N</a></li>
         <li><a href="http://cardnight.tripod.com/david_d.html">David D</a></li>
         <li><a href="http://cardnight.tripod.com/frank.html">Frank</a></li>
         <li><a href="http://cardnight.tripod.com/glen.html">Glen</a></li>
         <li><a href="http://cardnight.tripod.com/grant.html">Grant</a></li>
         <li><a href="http://cardnight.tripod.com/greg.html">Greg</a></li>
         <li><a href="http://cardnight.tripod.com/ike.html">Ike</a></li>
         <li><a href="http://cardnight.tripod.com/jack.html">Jack</a></li>
         <li><a href="http://cardnight.tripod.com/jason.html">Jason</a></li>
         <li><a href="http://cardnight.tripod.com/jeff.html">Jeff</a></li>
         <li><a href="http://cardnight.tripod.com/jerry.html">Jerry</a></li>
         <li><a href="http://cardnight.tripod.com/joe_h.html">Joe H</a></li>
         <li><a href="http://cardnight.tripod.com/joe_z.html">Joe Z</a></li>
         <li><a href="http://cardnight.tripod.com/john.html">John</a></li>
         <li><a href="http://cardnight.tripod.com/kevin.html">Kevin</a></li>
         <li><a href="http://cardnight.tripod.com/larry.html">Larry</a></li>
         <li><a href="http://cardnight.tripod.com/lyndon.html">Lyndon</a></li>
         <li><a href="http://cardnight.tripod.com/marc_p.html">Marc P</a></li>
         <li><a href="http://cardnight.tripod.com/mark_d.html">Mark D</a></li>
         <li><a href="http://cardnight.tripod.com/mark_h.html">Mark H</a></li>
         <li><a href="http://cardnight.tripod.com/mark_p.html">Mark P</a></li>
         <li><a href="http://cardnight.tripod.com/mary.html">Mary</a></li>
         <li><a href="http://cardnight.tripod.com/matt.html">Matt</a></li>
         <li><a href="http://cardnight.tripod.com/michael_d.html">Michael D</a></li>
         <li><a href="http://cardnight.tripod.com/miguel.html">Miguel</a></li>
         <li><a href="http://cardnight.tripod.com/mike_c.html">Mike C</a></li>
         <li><a href="http://cardnight.tripod.com/mike_s.html">Mike S</a></li>
         <li><a href="http://cardnight.tripod.com/nick.html">Nick</a></li>
         <li><a href="http://cardnight.tripod.com/norb.html">Norb</a></li>
         <li><a href="http://cardnight.tripod.com/paul_h.html">Paul H</a></li>
         <li><a href="http://cardnight.tripod.com/paul_s.html">Paul S</a></li>
         <li><a href="http://cardnight.tripod.com/phil.html">Phil</a></li>
         <li><a href="http://cardnight.tripod.com/rand.html">Rand</a></li>
         <li><a href="http://cardnight.tripod.com/rob.html">Rob</a></li>
         <li><a href="http://cardnight.tripod.com/sacha.html">Sacha</a></li>
         <li><a href="http://cardnight.tripod.com/troy.html">Troy</a></li>
         <li><a href="http://cardnight.tripod.com/ty_c.html">Ty C</a></li>
         <li><a href="http://cardnight.tripod.com/tyler_q.html">Tyler Q</a></li>
         <li><a href="http://cardnight.tripod.com/violet.html">Violet</a></li>
         <li><a href="http://cardnight.tripod.com/warren.html">Warren</a></li>
         <li><a href="http://cardnight.tripod.com/wes.html">Wes</a></li>
		</ul>
	</li>

	<li><a href="http://cardnight.wordpress.com/">Blog</a></li>

	<li><a href="http://cardnight.tripod.com/calendar.html">Calendar</a></li>

<!--
        <li><a href="http://cardnight.tripod.com/cgi-bin/results.cgi">Football&nbsp;Pool</a>
		<ul>
			<li><a href="http://cardnight.tripod.com/cgi-bin/entry.cgi">Enter&nbsp;Picks</a></li>
			<li><a href="http://cardnight.tripod.com/cgi-bin/results.cgi">See&nbsp;Results</a></li>
			<li>&nbsp;</li>
			<li><a href="http://cardnight.tripod.com/nfl.html">21st&#8209;Century&nbsp;Results</a></li>
			<li>&nbsp;</li>
			<li><a href="http://cardnight.tripod.com/nfl17/nfl17.html">2017&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl16/nfl16.html">2016&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl15/nfl15.html">2015&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl14/nfl14.html">2014&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl13/nfl13.html">2013&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl12/nfl12.html">2012&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl11/nfl11.html">2011&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl10/nfl10.html">2010&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl09/nfl09.html">2009&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl08/nfl08.html">2008&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl07/nfl07.html">2007&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl06/nfl06.html">2006&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl05/nfl05.html">2005&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl04/nfl04.html">2004&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl03/nfl03.html">2003&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl02/nfl02.html">2002&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/nfl01/nfl01.html">2001&nbsp;Results</a></li>
		</ul>
	</li>
-->

	<li><a href="http://cardnight.tripod.com/poker_games.html">Poker&nbsp;Games</a></li>

<!--
   <li><a href="http://cardnight.tripod.com/ncaa17.html">NCAA&nbsp;Pool</a>
		<ul>
			<li><a href="http://cardnight.tripod.com/ncaa17.html">Latest&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa.html">21st&#8209;Century&nbsp;Results</a></li>
			<li>&nbsp;</li>
			<li><a href="http://cardnight.tripod.com/ncaa17.html">2017&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa16.html">2016&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa15.html">2015&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa14.html">2014&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa13.html">2013&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa12.html">2012&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa11.html">2011&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa10.html">2010&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa09.html">2009&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa08.html">2008&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa07.html">2007&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa06.html">2006&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa05.html">2005&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa04.html">2004&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa03.html">2003&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa02.html">2002&nbsp;Results</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa01.html">2001&nbsp;Results</a></li>
		</ul>
	</li>
-->

<!--	
    <li><a href="#">Miscellaneous</a>
		<ul>
			<li><a href="http://cardnight.tripod.com/nfl.html">NFL&nbsp;Pool</a></li>
			<li><a href="http://cardnight.tripod.com/ncaa.html">NCAA&nbsp;Pool</a></li>
			<li><a href="http://cardnight.tripod.com/tournament.html">Mike&nbsp;S's&nbsp;Tournament</a></li>
			<li><a href="http://cardnight.tripod.com/vegas_2001.html">2001&nbsp;Vegas&nbsp;Trip</a></li>
-->

<!--
			<li><a href="http://members.aol.com/francisjfarrell/myhomepage/profile.html">"It&nbsp;Ain't&nbsp;Piels"</a></li>
-->
		</ul>
	</li>

</ul>

</div>

<h1></h1>

<br>
