---
---
<HTML>
<head>
<title>2003 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>


<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2003 NFL Pool Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"> <TH>Player</TH>    <TH>Net<BR>Total</TH>                                                        <TH>Pots<BR>Won</TH>                                                                   <TH>Weeks<BR>Entered</TH>        <TH colspan=2>Total Winning<BR>Picks*<BR>(out of<BR>256 games)</TH></TR>
<TR ALIGN="CENTER">  <TD>Dave D</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$20.00</TD>                             <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>162</TD>                          <TD>(63.3%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Frank F</TD>     <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>159</TD>                          <TD>(62.1%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Lynn</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$15.00</TD>                             <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>146</TD>                          <TD>(57.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mark D</TD>    <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$152.50</B></TD> <TD bgcolor="#D7FFD7"><b>3<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td bgcolor="#D7FFD7"><b>17</TD> <TD bgcolor="#D7FFD7"><B>173</B></TD> <TD bgcolor="#D7FFD7"><b>(67.6%)</B></TD></TR>
<TR ALIGN="CENTER">  <TD>Mark H</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>151</TD>                          <TD>(59.0%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Mary</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$65.00</TD>                           <TD>2</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>163</TD>                          <TD>(63.7%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Michael F</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$32.50</TD>                             <TD>0<small><sup>1</sup></small>/<small><sub>2</sub></small></td>                      <td>14</TD>                      <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Mike C</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$15.00</TD>                           <TD>1</td>                                                                             <td>12</TD>                      <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Mike J</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$10.00</TD>                             <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>161</TD>                          <TD>(62.9%)</TD></TR>
<TR ALIGN="CENTER">  <TD ROWSPAN=2>Mike S</TD> <TD ALIGN="RIGHT" ROWSPAN=2><FONT COLOR="GREEN">+$40.00</TD>          <TD>2</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>156</TD>                          <TD>(60.9%)</TD></TR>
<TR ALIGN="CENTER">                                                                                                  <TD>1</td>                                                                             <td>16</TD>                      <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Paul</TD>      <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$95.00</TD>                           <TD>2<small><sup>1</sup></small>/<small><sub>2</sub></small></td>                      <td>16</TD>                      <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Phil</TD>      <TD ALIGN="RIGHT"><FONT COLOR="RED">-$25.00</TD>                             <TD>0<small><sup>1</sup></small>/<small><sub>2</sub></small></td>                      <td>12</TD>                      <TD COLSPAN=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER">  <TD>Sue</TD>       <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                             <TD>0</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>149</TD>                          <TD>(58.2%)</TD></TR>
<TR ALIGN="CENTER">  <TD>Warren</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$10.00</TD>                             <TD>1</td>                                                                             <td bgcolor="#D7FFD7"><b>17</TD> <TD>165</TD>                          <TD>(64.5%)</TD></TR>
</TABLE>

</center>
</td>
<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>


* - Only players who entered every week.

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>                              <TH>Winner</TH>              <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>          <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_01.html">Week 1</A></TD> <TD>Mark D</TD>              <TD>11 out of 16</TD>                      <TD>-19</TD>                     <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_02.html">Week 2</A></TD> <TD>Mark D</TD>              <TD>12 out of 16</TD>                      <TD>-30</TD>                     <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_03.html">Week 3</A></TD> <TD>Mark D</TD>              <TD>11 out of 14</TD>                      <TD>-4</TD>                      <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_04.html">Week 4</A></TD> <TD>Mike C</TD>              <TD>11 out of 14</TD>                      <TD>-22</TD>                     <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_05.html">Week 5</A></TD> <TD>Mike S</TD>              <TD>10 out of 14</TD>                      <TD>-34</TD>                     <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_06.html">Week 6</A></TD> <TD>Paul</TD>                <TD>12 out of 14</TD>                      <TD>-6</TD>                      <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_07.html">Week 7</A></TD> <TD>Mike J</TD>              <TD>10 out of 14</TD>                      <TD>-13</TD>                     <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_08.html">Week 8</A></TD> <TD>Lynn</TD>                <TD>10 out of 14</TD>                      <TD>-2</TD>                      <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_09.html">Week 9</A></TD> <TD>Paul</TD>                <TD>8 out of 14</TD>                       <TD>-14</TD>                     <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_10.html">Week 10</A></TD><TD>Dave D</TD>                <TD>10 out of 14</TD>                      <TD>-20</TD>                     <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_11.html">Week 11</A></TD><TD>Warren</TD>              <TD>13 out of 16</TD>                      <TD>-6</TD>                      <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_12.html">Week 12</A></TD><TD>Mark D<BR>Michael F</TD> <TD bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-6</TD>                      <TD>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_13.html">Week 13</A></TD><TD>Mike S 2</TD>            <TD>11 out of 16</TD>                      <TD bgcolor="#D7FFD7"><b>-1</TD> <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_14.html">Week 14</A></TD><TD>Mary</TD>                <TD>13 out of 16</TD>                      <TD>-9</TD>                      <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_15.html">Week 15</A></TD><TD>Paul<BR>Phil</TD>        <TD>13 out of 16</TD>                      <TD>-19</TD>                     <TD>$70.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_16.html">Week 16</A></TD><TD>Mike S</TD>              <TD>12 out of 16</TD>                      <TD>-10</TD>                     <TD>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl03_17.html">Week 17</A></TD><TD>Mary</TD>                <TD>12 out of 16</TD>                      <TD>-14</TD>                     <TD bgcolor="#D7FFD7"><b>$75.00</TD></TR>
</TABLE>

</CENTER>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

