---
---
<HTML>
<head>
<title>2001 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>


<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2001 NFL Pool Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Player</TH> <TH>Net<br>Total</TH>                                                   <TH>Pots<br>Won</TH>            <TH>Weeks<BR>Entered</TH>        <TH colspan=2>Total Winning<BR>Picks*<BR>(out of<BR>248 games)</TH></TR>
<TR ALIGN="CENTER"> <TD>Dave D</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$85.00</TD>                        <TD>0</TD>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>137</td>                      <td>(55.24%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Frank F</TD>  <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                       <TD>2</TD>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>155</td>                      <td>(62.50%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mark D</TD> <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$55.00</TD>                      <TD bgcolor="#D7FFD7"><b>3</TD> <td bgcolor="#D7FFD7"><b>17</TD> <TD bgcolor="#D7FFD7"><b>163</td> <td bgcolor="#D7FFD7"><b>(65.73%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mark H</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$40.00</TD>                        <TD>0</TD>                      <td>8</TD>                       <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mary</TD>   <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$45.00</TD>                      <TD bgcolor="#D7FFD7"><b>3</TD> <td bgcolor="#D7FFD7"><b>17</TD> <TD>155</td>                      <td>(62.50%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike C</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$55.00</TD>                        <TD>0</TD>                      <td>11</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike J</TD> <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><B>+$65.00</TD> <TD bgcolor="#D7FFD7"><b>3</TD> <td>14</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike S</TD> <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$45.00</TD>                      <TD bgcolor="#D7FFD7"><b>3</TD> <td bgcolor="#D7FFD7"><b>17</TD> <TD>160</td>                      <td>(64.52%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Paul</TD>   <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$5.00</TD>                       <TD>2</TD>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>146</td>                      <td>(58.87%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Warren</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$40.00</TD>                        <TD>1</TD>                      <td bgcolor="#D7FFD7"><b>17</TD> <TD>152</td>                      <td>(61.29%)</TD></TR>
</TABLE>

</center>
</td>
<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>


* - Only players who entered every week

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>                               <TH>Winner</TH> <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>          <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_01.html">Week 1</A></TD>  <TD>Mark D</TD> <TD>12 out of 15</TD>                      <TD>-7</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_02.html">Week 2</A></TD>  <TD>Mike S</TD> <TD>10 out of 14</TD>                      <TD bgcolor="#D7FFD7"><b>-1</TD> <TD bgcolor="#D7FFD7"><b>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_03.html">Week 3</A></TD>  <TD>Frank F</TD>  <TD>10 out of 14</TD>                      <TD bgcolor="#D7FFD7"><b>-1</TD> <TD bgcolor="#D7FFD7"><b>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_04.html">Week 4</A></TD>  <TD>Mark D</TD> <TD>11 out of 15</TD>                      <TD>-14</TD>                     <TD bgcolor="#D7FFD7"><b>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_05.html">Week 5</A></TD>  <TD>Mike J</TD> <TD>9 out of 14</TD>                       <TD>-4</TD>                      <TD bgcolor="#D7FFD7"><b>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_06.html">Week 6</A></TD>  <TD>Mike S</TD> <TD>7 out of 13</TD>                       <TD>-17</TD>                     <TD>$40.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_07.html">Week 7</A></TD>  <TD>Mary</TD>   <TD>12 out of 14</TD>                      <TD>-3</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_08.html">Week 8</A></TD>  <TD>Mike S</TD> <TD>10 out of 14</TD>                      <TD>-23</TD>                     <TD>$40.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_09.html">Week 9</A></TD>  <TD>Mike J</TD> <TD bgcolor="#D7FFD7"><b>14 out of 15</TD> <TD>-2</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_10.html">Week 10</A></TD> <TD>Paul</TD>   <TD>10 out of 15</TD>                      <TD>-2</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_11.html">Week 11</A></TD> <TD>Mary</TD>   <TD>10 out of 15</TD>                      <TD>-3</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_12.html">Week 12</A></TD> <TD>Warren</TD> <TD>11 out of 15</TD>                      <TD>-2</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_13.html">Week 13</A></TD> <TD>Mark D</TD> <TD>11 out of 15</TD>                      <TD>-3</TD>                      <TD>$45.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_14.html">Week 14</A></TD> <TD>Frank F</TD>  <TD>11 out of 15</TD>                      <TD>-4</TD>                      <TD>$40.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_15.html">Week 15</A></TD> <TD>Mike J</TD> <TD>13 out of 15</TD>                      <TD>-26</TD>                     <TD>$40.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_16.html">Week 16</A></TD> <TD>Mary</TD>   <TD>10 out of 15</TD>                      <TD>-12</TD>                     <TD>$40.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl01_17.html">Week 17</A></TD> <TD>Paul</TD>   <TD>12 out of 15</TD>                      <TD>-14</TD>                     <TD>$45.00</TD></TR>
</TABLE>


</CENTER>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

