---
---
<HTML>
<head>
<title>2002 NFL Pool Results</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<CENTER>
{% include header.html %}

</CENTER>


<CENTER>

<br>


<table border=0 width=100%>
<tr valign=top>
<td width=25% align="left">
{% include nfl_results.html %}
</td>

<td>

<center>

<H1>2002 NFL Pool Results</H1>

<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Player</TH>  <TH>Net<br>Total</TH>                                                    <TH>Pots<br>Won</TH>                                              <TH>Weeks<BR>Entered</TH>        <TH colspan=2>Total Winning<BR>Picks*<BR>(out of 241<BR>games**)</TH></TR>
<TR ALIGN="CENTER"> <TD>Dave D</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$50.00</TD>                       <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td>9</TD>                       <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Frank F</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$15.00</TD>                         <TD>1</TD>                                                        <td bgcolor="#D7FFD7"><b>16</TD> <TD bgcolor="#D7FFD7"><B>149</td> <td bgcolor="#D7FFD7"><b>(61.83%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Frank M</TD> <TD ALIGN="RIGHT"><FONT COLOR="RED">-$10.00</TD>                         <TD>0</TD>                                                        <td>2</TD>                       <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Lynn</TD>    <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$68.33</TD>                       <TD>2<small><sup>1</sup></small>/<small><sub>3</sub></small></td> <td>15</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mark D</TD>  <TD ALIGN="RIGHT"><FONT COLOR="RED">-$30.00</TD>                         <TD>1</TD>                                                        <td bgcolor="#D7FFD7"><b>16</TD> <TD bgcolor="#D7FFD7"><B>149</td> <td bgcolor="#D7FFD7"><b>(61.83%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mark H</TD>  <TD ALIGN="RIGHT"><FONT COLOR="RED">-$60.00</TD>                         <TD>0</TD>                                                        <td>12</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mary</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$20.00</TD>                         <TD>1</TD>                                                        <td bgcolor="#D7FFD7"><b>16</TD> <TD>144</td>                      <td>(59.75%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike C</TD>  <TD ALIGN="RIGHT"><FONT COLOR="RED">-$46.67</TD>                         <TD>0<small><sup>1</sup></small>/<small><sub>3</sub></small></td> <td>11</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike J</TD>  <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$10.00</TD>                       <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td bgcolor="#D7FFD7"><b>16</TD> <TD>147</td>                      <td>(61.00%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Mike S</TD>  <TD ALIGN="RIGHT"><FONT COLOR="RED">-$1.67</TD>                          <TD>1<small><sup>1</sup></small>/<small><sub>3</sub></small></td> <td bgcolor="#D7FFD7"><b>16</TD> <TD>144</td>                      <td>(59.75%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Minerva</TD> <TD ALIGN="RIGHT" bgcolor="#D7FFD7"><FONT COLOR="GREEN"><b>+$105.00</TD> <TD bgcolor="#D7FFD7"><b>3</td>                                   <td>13</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Paul</TD>    <TD ALIGN="RIGHT"><FONT COLOR="BLACK">$0.00</TD>                         <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td bgcolor="#D7FFD7"><b>16</TD> <TD>142</td>                      <td>(58.92%)</TD></TR>
<TR ALIGN="CENTER"> <TD>Phil</TD>    <TD ALIGN="RIGHT"><FONT COLOR="RED">-$60.00</TD>                         <TD>0</TD>                                                        <td>12</TD>                      <TD colspan=2>&nbsp;</TD></TR>
<TR ALIGN="CENTER"> <TD>Warren</TD>  <TD ALIGN="RIGHT"><FONT COLOR="GREEN">+$10.00</TD>                       <TD>1<small><sup>1</sup></small>/<small><sub>2</sub></small></td> <td bgcolor="#D7FFD7"><b>16</TD> <TD>142</td>                      <td>(58.92%)</TD></TR>
</TABLE>

</center>
</td>
<td width=25% align="right">

<TABLE bgcolor="LIGHTSALMON" border=1><tr align=center><td><a href=../nfl.html>Click here for 21st-Century results.</a></td></tr></table>

</td>
</tr>
</table>


* - Only players who entered every week.<BR>
** - NFL games that ended in ties are not included.

<br><br><br>
<TABLE BORDER=1 bordercolor=black cellspacing=0 cellpadding=2>
<TR VALIGN="BOTTOM"><TH>Week</TH>                              <TH>Winner</TH>                               <TH>Wins</TH>                              <TH>Tie<BR>Breaker</TH>          <TH>Amount</TH></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_01.html">Week 1</A></TD> <TD>Paul<BR>Warren</TD>                       <TD>10 out of 16</TD>                      <TD bgcolor="#D7FFD7"><b>-0</TD> <TD>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_02.html">Week 2</A></TD> <TD>Minerva</TD>                              <TD>10 out of 16</TD>                      <TD>-6</TD>                      <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_03.html">Week 3</A></TD> <TD>Mike C<BR>Lynn<BR>Mike S</TD>             <TD>11 out of 14</TD>                      <TD>-2</TD>                      <TD>$55.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_04.html">Week 4</A></TD> <TD>Minerva</TD>                              <TD>10 out of 14</TD>                      <TD>-17</TD>                     <TD>$55.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_05.html">Week 5</A></TD> <TD>Frank F</TD>                              <TD>9 out of 14</TD>                       <TD>-5</TD>                      <TD bgcolor="#D7FFD7"><b>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_06.html">Week 6</A></TD> <TD>Lynn</TD>                                 <TD>11 out of 14</TD>                      <TD bgcolor="#D7FFD7"><b>-0</TD> <TD bgcolor="#D7FFD7"><b>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_07.html">Week 7</A></TD> <TD colspan=4>Canceled due to computer failure.</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_08.html">Week 8</A></TD> <TD>Minerva</TD>                              <TD>9 out of 14</TD>                       <TD>-25</TD>                     <TD>$55.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_09.html">Week 9</A></TD> <TD>Lynn</TD>                                 <TD>11 out of 14</TD>                      <TD>-11</TD>                     <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_10.html">Week 10</A></TD><TD>Warren</TD>                               <TD>11 out of 13</TD>                      <TD>-5</TD>                      <TD bgcolor="#D7FFD7"><b>$65.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_11.html">Week 11</A></TD><TD>Mike J</TD>                               <td bgcolor="#D7FFD7"><b>14 out of 16</TD> <TD>-3</TD>                      <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_12.html">Week 12</A></TD><TD>Mary</TD>                                 <TD>12 out of 16</TD>                      <TD>-18</TD>                     <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_13.html">Week 13</A></TD><TD>Dave D<BR>Mike J</TD>                       <TD>13 out of 16</TD>                      <TD>-6</TD>                      <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_14.html">Week 14</A></TD><TD>Mike S</TD>                               <TD>13 out of 16</TD>                      <TD bgcolor="#D7FFD7"><b>-0</TD> <TD>$60.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_15.html">Week 15</A></TD><TD>Mark D</TD>                               <TD>12 out of 16</TD>                      <TD>-12</TD>                     <TD>$50.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_16.html">Week 16</A></TD><TD>Paul</TD>                                 <TD>11 out of 16</TD>                      <TD>-13</TD>                     <TD>$55.00</TD></TR>
<TR ALIGN="CENTER"><TD><A HREF="nfl02_17.html">Week 17</A></TD><TD>Dave D</TD>                                 <TD>11 out of 16</TD>                      <TD>-6</TD>                      <TD>$55.00</TD></TR>
</TABLE>

<HR>
<h3>Playoff Pool</h3>
<b>$108.00 to the person(s) in the square corresponding to the two Super Bowl teams. </b>
<table border>
   <tr align=center>
      <td></td>
      <td></td>
      <td colspan=6><b>AFC</b></td>
   </tr>
   <tr align=center>
      <td></td>
      <td></td>
      <td bgcolor=darkgray><b><strike>Indianapolis<br>Colts</strike></b></td>
      <td bgcolor=darkgray><b><strike>New York<br>Jets</strike></b></td>
      <td bgcolor=lightblue><b>Oakland<br>Raiders</b></td>
      <td bgcolor=darkgray><b><strike>Pittsburgh<br>Steelers</strike></b></td>
      <td bgcolor=darkgray><b><strike>Cleveland<br>Browns</strike></b></td>
      <td bgcolor=darkgray><b><strike>Tennessee<br>Titans</strike></b></td>
   </tr>
   <tr align=center>
      <td rowspan=6><b>NFC</b></td>
      <td bgcolor=darkgray><b><strike>Green Bay<br>Packers</strike></b></td>
      <td bgcolor=darkgray><strike>Lynn</strike></td>
      <td bgcolor=darkgray><strike>Frank</strike></td>
      <td bgcolor=darkgray><strike>Mary</strike></td>
      <td bgcolor=darkgray><strike>Mark D</strike></td>
      <td bgcolor=darkgray><strike>Mark H</strike></td>
      <td bgcolor=darkgray><strike>Lynn</strike></td>
   </tr>
   <tr align=center>
      <td bgcolor=darkgray><b><strike>Philadelphia<br>Eagles</strike></b></td>
      <td bgcolor=darkgray><strike>Paul</strike></td>
      <td bgcolor=darkgray><strike>Norb</strike></td>
      <td bgcolor=darkgray><strike>Mark D</strike></td>
      <td bgcolor=darkgray><strike>Mary</strike></td>
      <td bgcolor=darkgray><strike>Mike S</strike></td>
      <td bgcolor=darkgray><strike>Danny &<br>Chrissy</strike></td>
   </tr>
   <tr align=center>
      <td bgcolor=darkgray><b><strike>New York<br>Giants</b></strike></td>
      <td bgcolor=darkgray><strike>Mike C</strike></td>
      <td bgcolor=darkgray><strike>Paul</strike></td>
      <td bgcolor=darkgray><strike>Mark H</strike></td>
      <td bgcolor=darkgray><strike>Mike S</strike></td>
      <td bgcolor=darkgray><strike>Mike C</strike></td>
      <td bgcolor=darkgray><strike>Paul</strike></td>
   </tr>
   <tr align=center>
      <td bgcolor=lightblue><b>Tampa Bay<br>Buccaneers</b></td>
      <td bgcolor=darkgray><strike>Mary</strike></td>
      <td bgcolor=darkgray><strike>Mark D</strike></td>
      <td bgcolor=lightgreen>Mike C</td>
      <td bgcolor=darkgray><strike>Frank</strike></td>
      <td bgcolor=darkgray><strike>Danny &<br>Chrissy</strike></td>
      <td bgcolor=darkgray><strike>Danny &<br>Chrissy</strike></td>
   </tr>
   <tr align=center>
      <td bgcolor=darkgray><b><strike>Atlanta<br>Falcons</strike></b></td>
      <td bgcolor=darkgray><strike>Mark D</strike></td>
      <td bgcolor=darkgray><strike>Mary</strike></td>
      <td bgcolor=darkgray><strike>Paul</strike></td>
      <td bgcolor=darkgray><strike>Norb</strike></td>
      <td bgcolor=darkgray><strike>Frank</strike></td>
      <td bgcolor=darkgray><strike>Mike S</strike></td>
   </tr>
   <tr align=center>
      <td bgcolor=darkgray><b><strike>San Francisco<br>49ers</strike></b></td>
      <td bgcolor=darkgray><strike>Lynn</strike></td>
      <td bgcolor=darkgray><strike>Mike C</strike></td>
      <td bgcolor=darkgray><strike>Mike S</strike></td>
      <td bgcolor=darkgray><strike>Mark H</strike></td>
      <td bgcolor=darkgray><strike>Frank</strike></td>
      <td bgcolor=darkgray><strike>Lynn</strike></td>
   </tr>
</table>


</CENTER>

<CENTER>

<BR><BR>

</CENTER>


</BODY>
</HTML>

